<div *ngIf="showSpiner">
 <app-spinner></app-spinner>
</div>

 <div class="container-fluid scrolling">
  <div *ngIf="!showSpiner">
   
     <form [formGroup]="accountSummaryForm" >
       <!-- Your other form controls -->
       <h5 style ="text-align: center;color: black;" class="mt-1">Account Summary</h5>
       <div formArrayName="LossRunSummaray">
         
         <div class="row">
           <div class ="colDefivd">
             <label style="font-size: x-small;" >Term</label>
           </div>
           <div style="font-size: x-small;" class ="col-sm-1">
             <label >TIV</label>
           </div>
           <div style="font-size: x-small;" class ="col-sm-1">
             <label >APD Deductible</label>
           </div>
           <div style="font-size: x-small;" class ="col-sm-1">
             <label > MTC Deductible</label>
           </div>
           <div style="font-size: x-small;" class ="col-sm-1">
             <label >A L Deductible</label>
           </div>
           <div style="font-size: x-small;" class ="col-sm-2">
             <label >Gross Revenue</label>
           </div>
           <div class ="col-sm-1">
             <label  style="font-size: x-small;">Units at Bind</label>
           </div>
           <div class ="col-sm-1">
             <label style="font-size: x-small;" >Max Number of Units</label>
           </div>
           <div class ="col-sm-1">
             <label style="font-size: x-small;" >Units at Renewal</label>
           </div>
           <div class ="colDefivd">
             <label style="font-size: x-small;" >Mileage</label>
           </div>

         </div>
         
         
        
        
     
       <div *ngFor="let personnel of getClinetSummaryFormControls('LossRunSummaray').controls; let i = index">
         <div formGroupName="{{i}}">
           <div class="row">
             <div class ="colDefivd mt-1" >
               <input type="text" class="form-control" formControlName="Term"  />
             </div>
             <div class ="col-sm-1 mt-1">
               <input class="form-control" formControlName="TIV" type="text"  style="text-align: center;"/>
             </div>
             <div class ="col-sm-1 mt-1">
               <input class="form-control" formControlName="APDDeductible"type="text" style="text-align: center;"/>
             </div>
             <div class ="col-sm-1 mt-1">
               <input class="form-control" formControlName="MTCDeductible"type="text"  style="text-align: center;"/>
             </div>
             <div class ="col-sm-1 mt-1">
               <input class="form-control" formControlName="AutoLiabilityDeductible"type="text"  style="text-align: center;"/>
             </div>
             <div class ="col-sm-2 mt-1" >
               <input class="form-control" formControlName="GrossRevenue" type="text" style="text-align: center;" />
             </div>
             <div class ="col-sm-1 mt-1">
               <input class="form-control" formControlName="MTCDeduUnitsatBindctible"type="text"style="text-align: center;" />
             </div>
             <div class ="col-sm-1 mt-1">
               <input class="form-control" formControlName="MaxNumberofUnits"type="text" style="text-align: center;" />
             </div>
             <div class ="col-sm-1 mt-1">
               <input class="form-control" formControlName="UnitsatRenewal"type="text" style="text-align: center;" />
             </div>
             <div class ="colDefivd mt-1">
               <input class="form-control" formControlName="Mileage"type="text" style="text-align: center;"  />
             </div>


           </div>
           <!-- Personnel form controls go here -->
           
           
           
          
 
           <!-- <button type="button" (click)="removeRow('Personnel', i)">Remove Personnel</button> -->
         </div>
       </div>
       <div style="text-align: right;">
        <button style="text-align: right;" mat-button (click)="addNewLineRow('LossRunSummaray')">New Add First Remove</button>
       </div>
      
     


       

     </div>
     <h5 style ="text-align: center;color: black;" class="mt-2">Auto Liability</h5>
     <!-- <button mat-raised-button color="warn" *ngIf ="hideAl" (click)="clearAndResetAutoLiability()">
      Reset Auto Liability
    </button> -->
     <div formArrayName="AutoLiability">
         
       <div class="row">
         <div class ="col-sm-2 ">
           <label style="font-size: x-small;" >Carrier</label>
         </div>
         <div class ="col-sm-2">
           <label style="font-size: x-small;">Policy Number</label>
         </div>
         <div class ="col-sm-1">
           <label style="font-size: x-small;">Policy Inception</label>
         </div>
         <div class ="col-sm-1">
           <label style="font-size: x-small;">Policy Expiration</label>
         </div>
         <div class ="col-sm-1">
           <label style="font-size: x-small;">Open Claims</label>
         </div>
         <div class ="col-sm-1">
           <label style="font-size: x-small;">Closed Claims</label>
         </div>
         <div class ="col-sm-1">
           <label style="font-size: x-small;">Total No Claims</label>
         </div>
         <div class ="col-sm-1">
           <label style="font-size: x-small;">Reserve</label>
         </div>
         <div class ="col-sm-1">
           <label style="font-size: x-small;">Paid</label>
         </div>
         <div class ="col-sm-1">
           <label style="font-size: x-small;">Total Incurred</label>
         </div>

       </div>
       
       
      
      
   
     <div *ngFor="let personnel of getClinetSummaryFormControls('AutoLiability').controls; let i = index">
       <div formGroupName="{{i}}">
         <div class="row">
           <div class ="col-sm-2 mt-1" >
             <input type="text" class="form-control"  formControlName="Carrier"  />
           </div>
           <div class ="col-sm-2 mt-1">
             <input  class="form-control" formControlName="PolicyNumber" type="text"  />
           </div>
           <div class ="col-sm-1 mt-1">
             <input class="form-control" formControlName="PolicyInception"type="text" />
           </div>
           <div class ="col-sm-1 mt-1">
             <input class="form-control" formControlName="PolicyExpiration"type="text"  />
           </div>
           <div class ="col-sm-1 mt-1">
             <input class="form-control" formControlName="OpenClaims"type="text"  />
           </div>
           <div class ="col-sm-1 mt-1">
             <input class="form-control" formControlName="ClosedClaims" type="text"  />
           </div>
           <div class ="col-sm-1 mt-1">
             <input class="form-control" formControlName="TotalNoofClaims"type="text" />
           </div>
           <div class ="col-sm-1 mt-1">
             <input class="form-control" formControlName="Reserve"type="text"  />
           </div>
           <div class ="col-sm-1 mt-1">
             <input class="form-control" formControlName="Paid"type="text"  />
           </div>
           <div class ="col-sm-1 mt-1">
             <input class="form-control" formControlName="TotalIncurred"type="text"  />
           </div>


         </div>
         <!-- Personnel form controls go here -->
         
         
         
        

         <!-- <button type="button" (click)="removeRow('Personnel', i)">Remove Personnel</button> -->
       </div>
     </div>
     <div style="text-align: right;">
      <button mat-button (click)="addNewLineRow('AutoLiability')">New Add First Remove</button>
      </div>
    
   </div>
   <h5 style ="text-align: center;color: black;" class="mt-2">Auto Physical Damage</h5>
   <!-- <button mat-raised-button color="warn" *ngIf ="hidePd" (click)="clearAndResetPhysicalDamage()">Reset Physical Damage</button> -->
      <div formArrayName="AutoPhysicalDamage">
         
         <div class="row">
           <div class ="col-sm-2">
             <label style="font-size: x-small;">Carrier</label>
           </div>
           <div class ="col-sm-2">
             <label style="font-size: x-small;">Policy Number</label>
           </div>
           <div class ="col-sm-1">
             <label style="font-size: x-small;">Policy Inception</label>
           </div>
           <div class ="col-sm-1">
             <label style="font-size: x-small;">Policy Expiration</label>
           </div>
           <div class ="col-sm-1">
             <label style="font-size: x-small;">Open Claims</label>
           </div>
           <div class ="col-sm-1">
             <label style="font-size: x-small;">Closed Claims</label>
           </div>
           <div class ="col-sm-1">
             <label style="font-size: x-small;">Total No Claims</label>
           </div>
           <div class ="col-sm-1">
             <label style="font-size: x-small;">Reserve</label>
           </div>
           <div class ="col-sm-1">
             <label style="font-size: x-small;">Paid</label>
           </div>
           <div class ="col-sm-1">
             <label style="font-size: x-small;">Total Incurred</label>
           </div>

         </div>
         
         
        
        
     
       <div *ngFor="let personnel of getClinetSummaryFormControls('AutoPhysicalDamage').controls; let i = index">
         <div formGroupName="{{i}}">
           <div class="row">
             <div class ="col-sm-2 mt-1" >
               <input type="text" class="form-control"  formControlName="Carrier"  />
             </div>
             <div class ="col-sm-2 mt-1">
               <input formControlName="PolicyNumber" class="form-control" type="text"  />
             </div>
             <div class ="col-sm-1 mt-1">
               <input class="form-control" formControlName="PolicyInception"type="text" />
             </div>
             <div class ="col-sm-1 mt-1">
               <input class="form-control" formControlName="PolicyExpiration"type="text"  />
             </div>
             <div class ="col-sm-1 mt-1">
               <input class="form-control" formControlName="OpenClaims"type="text"  />
             </div>
             <div class ="col-sm-1 mt-1">
               <input class="form-control" formControlName="ClosedClaims" type="text"  />
             </div>
             <div class ="col-sm-1 mt-1">
               <input class="form-control" formControlName="TotalNoofClaims"type="text" />
             </div>
             <div class ="col-sm-1 mt-1">
               <input class="form-control" formControlName="Reserve"type="text"  />
             </div>
             <div class ="col-sm-1 mt-1">
               <input class="form-control" formControlName="Paid"type="text"  />
             </div>
             <div class ="col-sm-1 mt-1">
               <input class="form-control" formControlName="TotalIncurred"type="text"  />
             </div>


           </div>
           <!-- Personnel form controls go here -->
           
           
           
          
 
           <!-- <button type="button" (click)="removeRow('Personnel', i)">Remove Personnel</button> -->
         </div>
       </div>
       <div style="text-align: right;">
        <button mat-button (click)="addNewLineRow('AutoPhysicalDamage')">New Add First Remove</button>
       </div>
     
       <!-- <button type="button" (click)="addNewLineRow('Personnel')">Add Personnel</button> -->
     </div>
<h5 style ="text-align: center;color: black;">Motor Truck Cargo</h5>
<!-- <button mat-raised-button color="warn" *ngIf ="hideMTC" (click)="clearMTC()">Reset Moter Truck Cargo</button> -->
      <div formArrayName="MoterTruckCargo">
         
         <div class="row">
           <div class ="col-sm-2">
             <label style="font-size: x-small;">Carrier</label>
           </div>
           <div class ="col-sm-2">
             <label style="font-size: x-small;">Policy Number</label>
           </div>
           <div class ="col-sm-1">
             <label style="font-size: x-small;">Policy Inception</label>
           </div>
           <div class ="col-sm-1">
             <label style="font-size: x-small;">Policy Expiration</label>
           </div>
           <div class ="col-sm-1">
             <label style="font-size: x-small;">Open Claims</label>
           </div>
           <div class ="col-sm-1">
             <label style="font-size: x-small;">Closed Claims</label>
           </div>
           <div class ="col-sm-1">
             <label style="font-size: x-small;">Total No. of Claims</label>
           </div>
           <div class ="col-sm-1">
             <label style="font-size: x-small;">Reserve</label>
           </div>
           <div class ="col-sm-1">
             <label style="font-size: x-small;">Paid</label>
           </div>
           <div class ="col-sm-1">
             <label style="font-size: x-small;">Total Incurred</label>
           </div>

         </div>
         
         
        
        
     
       <div *ngFor="let personnel of getClinetSummaryFormControls('MoterTruckCargo').controls; let i = index">
         <div formGroupName="{{i}}">
           <div class="row">
             <div class ="col-sm-2 mt-1" >
               <input type="text" class="form-control"  formControlName="Carrier"  />
             </div>
             <div class ="col-sm-2 mt-1">
               <input class="form-control" formControlName="PolicyNumber" type="text"  />
             </div>
             <div class ="col-sm-1 mt-1">
               <input class="form-control" formControlName="PolicyInception"type="text" />
             </div>
             <div class ="col-sm-1 mt-1">
               <input class="form-control" formControlName="PolicyExpiration"type="text"  />
             </div>
             <div class ="col-sm-1 mt-1">
               <input class="form-control" formControlName="OpenClaims"type="text"  />
             </div>
             <div class ="col-sm-1 mt-1">
               <input class="form-control" formControlName="ClosedClaims" type="text"  />
             </div>
             <div class ="col-sm-1 mt-1">
               <input class="form-control" formControlName="TotalNoofClaims"type="text" />
             </div>
             <div class ="col-sm-1 mt-1">
               <input class="form-control"  formControlName="Reserve"type="text"  />
             </div>
             <div class ="col-sm-1 mt-1">
               <input class="form-control" formControlName="Paid"type="text"  />
             </div>
             <div class ="col-sm-1 mt-1">
               <input class="form-control" formControlName="TotalIncurred"type="text"  />
             </div>


           </div>
           <!-- Personnel form controls go here -->
           
           
           
          
 
           <!-- <button type="button" (click)="removeRow('Personnel', i)">Remove Personnel</button> -->
         </div>
       </div>
       <div style="text-align: right;">
        <button mat-button (click)="addNewLineRow('MoterTruckCargo')">New Add First Remove</button>
       </div>
      
       <!-- <button type="button" (click)="addNewLineRow('Personnel')">Add Personnel</button> -->
     </div>
    
     </form>
     <div class="text-center  mt-2" *ngIf ="showSaveButtion">
      <div  *ngIf ="messageSuccess">
        
        <button style="width: 140px;color: green;font-size: small" class="learn-more"(click)="onSubmit()">Save</button>
        <button style="width: 140px; color: red; margin-left: 10px;font-size: small" class="learn-more" mat-dialog-close>cancel</button>
    
          
         
        
        </div>
    </div>
   
  
  


  
 </div>
</div>
