
<div *ngIf ="showSpiner">
 <!-- <app-spinner></app-spinner> -->
</div>

<div *ngIf ="!showSpiner">
 <div class="container-fluid" style="background-color: white;">
 



 
   <table  class="table " style="width:100%">
       <thead  class="" >
         <tr>
           <th>Name </th>
           <th>Business </th>
           <th>City  </th>
           <th>State </th>
           <th>Country </th>
           <th>Phone</th>
           <th>Emial</th>

          
           <th>Fax</th>
           <th>EnteredBy</th>  
           <th></th> 
          
          
          
      
          
          
        
         
 
         </tr>
       </thead>
       <tbody>
         <tr  *ngFor ="let data of  getALLAdjustsList">
           <td >{{data.AdjustName}}</td>
           <td>{{data.Business}}</td>
           <td>{{data.City}}</td>
          <td>{{data.State}}</td>
          <td> {{data.Country}}</td>
         
          <td>{{data.Phone}}</td>
          <td>{{data.Email}}</td>
          <td>{{data.Fax}}</td>
          <td>{{data.EnteredBy}}</td>
          
         
         
     
 
          
          
        
 
     
        
        
         </tr>
         
       
       
        
       </tbody>
     </table>




  
    
 
</div>
</div>
