<div *ngIf ="showSpinner">
  <app-spinner></app-spinner>
</div>
<div *ngIf ="!showSpinner">
  <div class="container-fluid page-background" >
    <div class="row ">
    <div class="col-xl-3 col-sm-6 col-12" routerLink ="/endorsement/listOfPolicyForEndrosement" >
      <div class="card">
        <div class="card-body d-flex align-items-center justify-content-between">
          <h4 class="primary">Previous Page  </h4>
          <img src="assets/back.png" width="50px" />
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6 col-12" (click)="exportToExcel()">
      <div class="card">
        <div class="card-body d-flex align-items-center justify-content-between">
          <h4 class="danger">Excel Data</h4>
          <i class="fa fa-file-excel-o me-1"
   style="width: 50px; height: 50px; font-size: 50px;"></i>
        
        </div>
      </div>
    </div>
     <div class="col-xl-3 col-sm-6 col-12" (click)="naviageteToanotherPage()">
        <div class="card" >
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left">
                  <h4 class="danger">
                    ATTACHMENTS
                  </h4>
                  
                </div>
                <div class="align-self-center">
                 <img src="assets/attached.png" width="50px" height="50px">
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>

    <div class="col-xl-3 col-sm-6 col-12"  (click)="addEditEndrocement($event)">
      <div class="card">
        <div class="card-body d-flex align-items-center justify-content-between">
          <h4 class="success">Add Endrosement</h4><br/>
         
          <img src="assets/insurance.png" width="50px" />
        </div>
      </div>
    </div>
  </div>
  <div class="reporting-type">
  <span class="reporting-label">Reporting Type</span>
  <span class="reporting-value">
    <i class="bi bi-arrow-repeat"></i>
    {{ repostingType }}
  </span>
</div>
    
      <div class ="row ">
        
         <div class="col-sm-3">
       
         <div class="container__item">
		    	<input type="text" class="form__field"   [(ngModel)]="searchCriteria.Description" (ngModelChange)="onDescriptionChange($event)"/>
			    <button type="button" class="btn btn--primary btn--inside uppercase" >🔍BY Descri__</button>
		
	        </div>
       </div>
       <div class="col-sm-3">
        <div class="container__item">
		    	<input type="text" class="form__field"  [(ngModel)]="searchCriteria.Stage" (ngModelChange)="onStageChange($event)"/>
			    <button type="button" class="btn btn--primary btn--inside uppercase" >🔍 By Stage</button>
		
	        </div>
       
       </div>
       <div class="col-sm-3">
        <div class="container__item">
		    	<input type="text" class="form__field"  [(ngModel)]="searchCriteria.EndorsementType" (ngModelChange)="onEndorsementTypeChange($event)" />
			    <button type="button" class="btn btn--primary btn--inside uppercase" >🔍 By Type</button>
		
	        </div>
       
       </div>
      
        <div class="col-sm-3">
          <div class="container__item">
		    	<input type="text" class="form__field"  [(ngModel)]="searchCriteria.Entered" (ngModelChange)="onEnteredChange($event)"/>
			    <button type="button" class="btn btn--primary btn--inside uppercase" >🔍 By Name</button>
		
	        </div>
        </div>
       
      
       
 
      </div>
      <div  class="scrollable-table-body mt-1" >
       <table  class="table table-bordered">
  
         <thead>
           <tr>
             <th>EnterNo</th>
             <th> Entered </th>
             <th>Endorsement</th>
             
             <!-- <th>Active </th> -->
             <th>Description</th>
             
             <th>Effective Date</th>
             <th>Stage</th>
           
             <th>Changed-Entered By</th>
             <th></th>
             <th></th>
            
             
             <th style="width: 80px;"> </th>
             
           
            
             
           </tr>
         </thead>
         <tbody *ngIf="listOfEndorsements?.length > 0">
           <ng-container >
             <tr *ngFor ="let data of listOfEndorsements | searchEndrosement:searchCriteria; let i = index"
           [ngClass]="{
    'yellow-row':
      data.Stage == null ||
      data.Stage?.trim() === '' ||
      data.Stage?.trim().toLowerCase() === 'in process'
  }" style="height: 40px;"  (dblclick)="i !== 0 && goToChickAddOrVistEndroseemtLine(data)" >
               <td>{{data.IDBasedOnAMC == null? data.LineShortName:data.IDBasedOnAMC}}</td>
               <td>{{data.Entered | date:'MM/dd/yyyy'}}</td>
              
               <td>{{data.EndorsementType === null? 'Policy Detail':data.EndorsementType}}</td>
               <td>{{data.Description}}</td>
               
               <td *ngIf="i === 0">{{data.EffectiveDate | date:'MM/dd/yyyy'}} -{{data.ExpirationDate | date:'MM/dd/yyyy'}}</td>
               <td *ngIf="i !== 0">{{data.EffectiveDateChange | date:'MM/dd/yyyy'}} </td>
               <td>{{data.Stage}}</td>
              
               <td>{{data.UpdatedBy}}-{{data.EnteredBy}}</td>
               <td> <i (click)="submitChangeRequest(data)" style=" font-size: medium;" class="fa fa-book" aria-hidden="true"></i></td>
               <td *ngIf="i === 0">
                <i style="font-size: medium;" class="fa fa-street-view" (click)="viewPreviousDriverAndVehicle(data)" aria-hidden="true"></i>
              </td>
               <td *ngIf="i !==0"><i style=" font-size: medium;" class="fa fa-street-view" aria-hidden="true"(click)="viewDataBaseOfEndoresement(data)"></i></td>
               <td *ngIf="i === 0">
                <i style="color: rgb(8, 165, 8); font-size: medium;" class="fa fa-check" 
                   aria-hidden="true"></i>
                   
              </td>
              
            <td *ngIf="i !== 0">
              
             <mat-icon class="edit-icon"  (click)="addEditEndrocement(data)" matTooltip="Edit">  <i class="fa fa-edit" aria-hidden="true"></i></mat-icon>
             <!-- <mat-icon   style="color: rgba(255, 0, 30, 0.514); font-size: medium;"  (click)="updateEndrosement(data)"><i class="fa fa-trash" aria-hidden="true"></i></mat-icon> -->
           <mat-icon
  class="status-icon"
  (click)="updateEndrosement(data)"
  matTooltip="Change Status">
  <i class="fa fa-refresh" aria-hidden="true"></i>
</mat-icon>
              
           </td>
             
             </tr>
           </ng-container>
          
           
           
          
         
         </tbody>
        
       </table>
      </div>
 
    
  

 
 
 
 
    
   
 
 
 
 
 
 
 
 
 
 
        
        </div>
</div>

