<!-- 
 <div id="print-section">
<body>
  <div id="main_div">

     <div style="text-align: right;">
      
     </div>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:0px 1px solid #000;">
          <tr>
            <td width="22%"><img src="assets/certs/logo1.png"  width="150" height="60" class="mb-1"/></td>
            <td width="58%" class="policy fontText">GENERAL LIABILITY NOTICE OF OCCURRENCE / CLAIM</td>
            <td width="20%"  style="border:1px solid #000; border-bottom:0px solid #000;" align="center">DATE (MM/DD/YYYY) <br />
              <input  type="text" style="font-weight: bold;text-align: center;" />
            </td>
          </tr>
      </table>
    <div class="left_div">
      <table width="100%" cellspacing="0" cellpadding="0" style="border-bottom:0px solid #000; border-top:1px solid #000; border-left:1px solid #000; border-right:1px solid #000;">
          <tr >
            <td valign="top" colspan="2" class="small_textsec fontText"><span style="margin-left: 2px;font-size: 10px;" class="fontText">AGENCY</span></td>
          </tr>
         <tr >

          <td width="100%"  colspan="2" class="bordrb " > <span style="margin-left: 2px;"></span><textarea  rows="4" style="font-size: 15px; font-weight: 600;width: 99%;margin-bottom: 2px;"></textarea></td>
          </tr>
          <tr class="bordrb"style="height:30px">
            <td width="15%"  class="bordrb small_textsec"><span class="fontText" style="margin-left: 2px;margin-top: 2px;line-height: 1;font-size: 10px;"class ="fontText">CONTACT <br/><span style="margin-left: 2px;">NAME</span> </span></td>
            <td width="85%" class="bordrb "><input name=""  type="text" class="input_text" style="width:100%; float:left;margin-bottom: 1px;margin-top:1px;margin-right: 2px;" /></td>
          </tr>
          <tr class="bordrb" style="height:30px">
            <td width="25%" class="bordrb small_textsec" ><span style="margin-left: 2px;margin-top: 2px;line-height: 1;font-size: 10px;"class ="fontText">PHONE <br/> (A/C, No, Ext):</span></td>
            <td width="75%" class="bordrb"><input  type="text"   class=" input_text" style="width:100%; float:left;margin-bottom: 1px;margin-top:1px;margin-right: 2px;"/></td>
          </tr>
          <tr class="bordrb" style="height:30px">
            <td width="15%"  class="bordrb small_textsec"><span style="margin-left: 2px;margin-top: 2px;line-height: 1;font-size: 10px;"class ="fontText">FAX<br/>(A/C, No):</span>
            </td>
            <td width="85%" class="bordrb"><input name="" type="text"  class=" input_text" style="width:100%; float:left;margin-bottom: 1px;margin-top:1px"/></td>
          </tr>
            <tr class="bordrb" style="height:30px">
            <td width="15%"  class="bordrb small_textsec"><span style="width:100%; margin-left: 2px;margin-top: 2px;line-height: 1;font-size: 10px;"class ="fontText">E-MAIL <br/> ADDRESS:</span>
            </td>
            <td width="85%" class="bordrb"><input name="" type="text"  class=" input_text" style="width:100%; float:left;margin-bottom: 1px;margin-top:1px"/></td>
            </tr>
          <tr class="bordrb" style="height:30px">
            <td colspan="2" class="bordrb"><table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                  <td  class="small_textsec"><span style="margin-left: 2px;font-size: 10px;" class ="fontText">CODE</span></td>
                  <td class="bordrr "><input name="" type="text"  style="width:100%; float:left;margin-bottom: 1px;margin-top:1px; margin-right: 2px;"/></td>
                  <td class="small_textsec"><span style="margin-left: 2px;font-size: 10px;"class ="fontText">SUBCODE</span></td>
                  <td><input name="" type="text" style="width:100%; float:left;margin-bottom: 1px;margin-top:1px;margin-right: 2px;" /></td>
                </tr>
              </table></td>
          </tr>
           <tr class="bordrb" style="height:30px">
            <td width="20%"  class="bordrb small_textsec"><span style="margin-left: 2px;font-size: 10px;"class ="fontText">AGENCY CUSTOMER ID</span>
            </td>
            <td width="80%" class="bordrb"><input name=""  type="text"  class=" input_text" style="width:100%; float:left;margin-bottom: 1px;margin-top:1px"/></td>
            </tr>
       
      

        </table>
    
    </div>
    
    
    
    
    <div class="right_div" style="border-right: 1px solid #000;">
      <table width="100%" cellspacing="0" cellpadding="0" >
        <tr >
          <td valign="top" class=" bordrb">
            <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
   
    <td style="width:58%;border:1px solid #000;padding:0;border-left: white;vertical-align:top;">
        <div style="font-size:10px;font-weight:bold;">
            INSURED LOCATION CODE
        </div>
        <div ></div>
    </td>

 
    <td style="width:32%;padding:0;border:1px solid #000;">

        <table style="width:100%;" cellspacing="0" cellpadding="0">
            <tr>
                <td colspan="2"
                    style="
                           text-align:center;
                           font-size:10px;
                           font-weight:bold;">
                    DATE OF LOSS AND TIME
                </td>
            </tr>

            <tr>
                <td style="width:58%;
                           border-right:1px solid #000;
                           text-align:center;
                           font-size:15px;
                           font-weight:bold;
                          ">
                    12/07/2025
                </td>

                <td style="text-align:center;
                           font-size:15px;
                           font-weight:bold;">
                    4:23
                </td>
            </tr>
        </table>

    </td>

  
    <td style="width:36px;padding:0;border:1px solid #000;">

        <table style="border-collapse: collapse; width:50px; height:42px;">
    <tr>
        <td style="width:24px; border-right:1px solid #000;border-bottom:1px solid #000;"></td>

        <td style="
            width:26px;
           
            text-align:center;
            font-size:10px;">
            AM
        </td>
    </tr>

    <tr>
        <td style="
            border-right:1px solid #000;
            text-align:center;
            font-size:10px;
            font-weight:bold;">
            X
        </td>

        <td style="
            
            text-align:center;
            font-size:10px;">
            PM
        </td>
    </tr>
</table>

    </td>
</tr>
              <tr>
                <td class="small_textsec bordrr"  >
                <span style="margin-left: 4px;font-size: 10px;" class ="fontText"> CARRIER</span>  
                  <br>
                  
                   <span style="font-size: 15px; font-weight: 600;  margin-bottom: 4px; margin-top: 5px;margin-left: 2px;">Knight Specialty Insurance Company 15366
  </span>
                </td>
                <td width="20%" style ="text-align: center;font-size: 10px;" class=" fontText">NAIC CODE<br>
               
                  <span style="font-size: 15px; font-weight: 600; display: inline-block; margin-bottom: 4px;margin-top: 5px;">  </span>
                </td>
              </tr>
            </table>
    
          </td>
        </tr>
    
      
        
       
        <tr >
          <td valign="top" class="small_textsec fontText" style="padding: 4px;font-size: 10px;" >POLICY NUMBER 
           
          </td>
        </tr>
        <tr >
          <td valign="top" class=" bordrb"  >
            

              <span style="font-size: 15px; font-weight: 600;  margin-bottom: 4px; margin-top: 5px;margin-left: 2px;">   {{nn}}</span>
          </td>
        </tr>
      
      
    
    
    
        <tr >
          <td valign="top" class=" bordrb small_textsec" style="height:156px" >
          
        
          
          </td>
        </tr></table>
    
    </div>
    <br clear="left">

    <h4>INSURED</h4>
<div class="right_div" style="border: 1px solid #000;">
    
  
    
    </div>
     <div class="left_div">
      <table width="100%" cellspacing="0" cellpadding="0" style="border-bottom:0px solid #000; border-top:1px solid #000; border-left:1px solid #000; border-right:1px solid #000;">
          <tr >
            <td valign="top" colspan="2" class="small_textsec fontText"><span style="margin-left: 2px;font-size: 10px;" class="fontText">AGENCY</span></td>
          </tr>
         <tr >

          <td width="100%"  colspan="2" class="bordrb " > <span style="margin-left: 2px;"></span><textarea  rows="4" style="font-size: 15px; font-weight: 600;width: 99%;margin-bottom: 2px;"></textarea></td>
          </tr>
          <tr class="bordrb"style="height:30px">
            <td width="15%"  class="bordrb small_textsec"><span class="fontText" style="margin-left: 2px;margin-top: 2px;line-height: 1;font-size: 10px;"class ="fontText">CONTACT <br/><span style="margin-left: 2px;">NAME</span> </span></td>
            <td width="85%" class="bordrb "><input name=""  type="text" class="input_text" style="width:100%; float:left;margin-bottom: 1px;margin-top:1px;margin-right: 2px;" /></td>
          </tr>
          <tr class="bordrb" style="height:30px">
            <td width="25%" class="bordrb small_textsec" ><span style="margin-left: 2px;margin-top: 2px;line-height: 1;font-size: 10px;"class ="fontText">PHONE <br/> (A/C, No, Ext):</span></td>
            <td width="75%" class="bordrb"><input  type="text"   class=" input_text" style="width:100%; float:left;margin-bottom: 1px;margin-top:1px;margin-right: 2px;"/></td>
          </tr>
          <tr class="bordrb" style="height:30px">
            <td width="15%"  class="bordrb small_textsec"><span style="margin-left: 2px;margin-top: 2px;line-height: 1;font-size: 10px;"class ="fontText">FAX<br/>(A/C, No):</span>
            </td>
            <td width="85%" class="bordrb"><input name="" type="text"  class=" input_text" style="width:100%; float:left;margin-bottom: 1px;margin-top:1px"/></td>
          </tr>
            <tr class="bordrb" style="height:30px">
            <td width="15%"  class="bordrb small_textsec"><span style="width:100%; margin-left: 2px;margin-top: 2px;line-height: 1;font-size: 10px;"class ="fontText">E-MAIL <br/> ADDRESS:</span>
            </td>
            <td width="85%" class="bordrb"><input name="" type="text"  class=" input_text" style="width:100%; float:left;margin-bottom: 1px;margin-top:1px"/></td>
            </tr>
          <tr class="bordrb" style="height:30px">
            <td colspan="2" class="bordrb"><table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                  <td  class="small_textsec"><span style="margin-left: 2px;font-size: 10px;" class ="fontText">CODE</span></td>
                  <td class="bordrr "><input name="" type="text"  style="width:100%; float:left;margin-bottom: 1px;margin-top:1px; margin-right: 2px;"/></td>
                  <td class="small_textsec"><span style="margin-left: 2px;font-size: 10px;"class ="fontText">SUBCODE</span></td>
                  <td><input name="" type="text" style="width:100%; float:left;margin-bottom: 1px;margin-top:1px;margin-right: 2px;" /></td>
                </tr>
              </table></td>
          </tr>
           <tr class="bordrb" style="height:30px">
            <td width="20%"  class="bordrb small_textsec"><span style="margin-left: 2px;font-size: 10px;"class ="fontText">AGENCY CUSTOMER ID</span>
            </td>
            <td width="80%" class="bordrb"><input name=""  type="text"  class=" input_text" style="width:100%; float:left;margin-bottom: 1px;margin-top:1px"/></td>
            </tr>
       
      

        </table>
    
    </div>
    


    
    
    
    
    
  
   
    
     <div class="page-break">
            
           </div>

  
    
  

   
   
    


 
    





    
  




  




 


    


    </div>
    </body>
 </div>
  
  
    <div  style ="text-align: center;margin-top: 5px;">
    <button style="width: 300px;color: green;"ngxPrint class="learn-more"[useExistingCss]="true" printSectionId="print-section"  printTitle="m-Trust" >Save And convert PDF 1</button> 
   </div>
  -->
<!-- <div style="text-align:center; margin-top:20px;">
  <button
    type="button"
    (click)="fillPdf()"
    style="
      padding:10px 20px;
      background:#007bff;
      color:#fff;
      border:none;
      border-radius:5px;
      cursor:pointer;">
    Fill & Download PDF
  </button>
</div> -->
<div class="container-fluid">
<button mat-raised-button class="mt-2"
        color="primary"
        (click)="fillPdf()"
        [disabled]="!isDataLoaded">
  Download PDF
</button>
</div>

