<div *ngIf ="showSpiner">
 <app-spinner></app-spinner>
</div>
<div class="container-fluid" style="background-color: white;">
 <div *ngIf ="!showSpiner">



 
  
 
   <div class="row mt-2">
   
   

   
      <div class=" mt-3 scrolling">
        
       <table  class="table table-bordered table-hover dt-responsive">
             <thead >
               <tr>
                 <th style="width: 200px;">File Path</th>
                
                
                 <th style="width: 150px;">Date </th>
                 
                 <th style="width: 500px;">Description</th>
                 <th style="width: 150px;">Attached By </th>
                 <th style="width: 20px;"></th>
                
               </tr>
             </thead>
             <tbody>
               <tr *ngFor ="let data of listOfAllFatchData |  searchAttachment: searchCriteria " (click)="onRowClick(data)">
              
                 <td style="width: 350px;">{{data.FileName}}</td>
                 <td style="width: 150px;">{{data.AttachmentDate | date :'dd/MM/yyyy'}}</td>
                
                <td style="width: 500px;">{{data.Description}}</td>
                <td style="width: 150px;">{{data.EnteredBy}}</td>
                <td> <a href="javascript:void(0)"><mat-icon>visibility</mat-icon> </a></td>
             
               </tr>
             </tbody>
           </table>
     </div>
   
  
 </div>
</div>


