






@media (min-height: 400px) and (max-height: 600px) {
  .label01 {
  margin-top: -5px !important;
}

.form-control {
  display: block;
  width: 100%;
  /* padding: 0.375rem 0.75rem; */
  font-size: small;
  font-weight: 400;
  line-height: 1.5;
  color: #212529fa !important;;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 30px;
 }
 .form-select {
  display: block;
  width: 100%;
  /* padding: 0.375rem 0.75rem; */
  font-size: small;
  font-weight: 400;
  line-height: 1.5;
  color: #212529fa !important;;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 height: 30px;
 }
 
}


@media (min-height: 601px) and (max-height: 700px) {

.label {
  display: inline-flex;
  font-size: smaller;
  color: #212529fa !important;;
  
}
.label01 {
  margin-top: -5px !important;
}

.form-control {
  display: block;
  width: 100%;
  /* padding: 0.375rem 0.75rem; */
  font-size: small;
  font-weight: 400;
  line-height: 1.5;
  color: #212529fa !important;;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 30px;
 }
  .form-select {
  display: block;
  width: 100%;
  /* padding: 0.375rem 0.75rem; */
  font-size: small;
  font-weight: 400;
  line-height: 1.5;
  color: #011427fa !important;;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 height: 30px;
 }


}


@media (min-height: 701px) and (max-height: 750px) {

.label {
  display: inline-flex;
  font-size: smaller;
  color: #212529fa !important;;
  
}
.label01 {
  margin-top: -5px !important;
}

.form-control {
  display: block;
  width: 100%;
  /* padding: 0.375rem 0.75rem; */
  font-size: small;
  font-weight: 400;
  line-height: 1.5;
  color: #212529fa !important;;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 30px;
 }
  .form-select {
  display: block;
  width: 100%;
  /* padding: 0.375rem 0.75rem; */
  font-size: small;
  font-weight: 400;
  line-height: 1.5;
  color: #212529fa !important;;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 height: 30px;
 }


}

@media (min-height: 751px) and (max-height: 850px) {
 .label01 {
  margin-top: -5px !important;
}
  
label {
  display: inline-flex;
  font-size: medium;
  color: #212529fa !important;;
  
}

.form-control {
  display: block;
  width: 100%;
  /* padding: 0.375rem 0.75rem; */
  font-size: small;
  font-weight: 400;
  line-height: 1.5;
  color: #212529fa !important;;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 30px;
 }
 .form-select {
  display: block;
  width: 100%;
  /* padding: 0.375rem 0.75rem; */
  font-size: small;
  font-weight: 400;
  line-height: 1.5;
  color: #212529fa !important;;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 30px;
 }

}

@media (min-height: 851px) and (max-height: 950px) {

.label01 {
  margin-top: -6px !important;
}

.form-control {
  display: block;
  width: 100%;
  /* padding: 0.375rem 0.75rem; */
  font-size: medium;
  font-weight: 400;
  line-height: 1.5;
  color: #212529fa !important;;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 30px;
 }
 .form-select {
  display: block;
  width: 100%;
  /* padding: 0.375rem 0.75rem; */
  font-size: medium;
  font-weight: 400;

  color: #212529fa !important;;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 30px;
 }

}



//
