<div class="container">
 <div class="card">
     <div  class="card-header" style="background-color: #3f51b5; color: white;">
         <a href="javascript:void(0)" style=" color: white;text-decoration: dashed;" > Enter  Stage </a>  
       </div>
 </div>
 

 <form [formGroup]="updateForm">
 <div class="row">
   
   
    
    
   
    
     <div class="col-sm-12 mt-3">
         <label>Select Stage</label>
         <select class="form-select formControl mt-1" formControlName ="StageType"  aria-label="Default select example" style="margin-top: 28px;"[ngClass]= "{ 'is-invalid': submit && f['StageType'].errors }" >
             <option hidden value="" disabled selected  > Select Stage</option>
             <option  value="Issue">Issue</option>
             <option  value="Submit">Submit</option>
           
             
            
           </select>
           <div *ngIf ="submit && f['StageType'].errors" class="invalid-feedback">
             <div *ngIf ="f['StageType'].errors">StageType is required</div>
         </div> 

     </div>
  
  
  
   
   
   
   
     <div class="text-center mt-5">
         <div class="btn-group  gap-2  " *ngIf ="messageSuccess">
            
             <button mat-stroked-button class="text-right" (click)="onSubmit()" >Save</button>
             <button mat-stroked-button class="text-right" color="warn" mat-button mat-dialog-close>Clear</button>
            
           
           </div>
     </div>
 


 </div>

</form>
</div>