<div *ngIf ="showSpiner">
 <app-spinner></app-spinner>
</div>

<div *ngIf ="!showSpiner">
 <div class="container-fluid page-background" >
  
  <div class=" py-3"  style="border-top: 1px solid rgba(0, 0, 0, 0.085);">
    
    <div class ="row p-1">
   

           <div class="col-sm-3">
        <div class="container__item">
			  <input type="text" class="form__field" [(ngModel)]="searchCriteria.ClaimNumber" (ngModelChange)="onClaimNumberChange($event)"  />
		    <button type="button" class="btn btn--primary btn--inside uppercase" >🔍By Claim</button>
	     </div>
        
       </div>
       <div class="col-sm-3">
         <div class="container__item">
			  <input
      type="text"
      class="form__field"
      [(ngModel)]="searchCriteria.ChildPolicyName"
      (ngModelChange)="onChildPolicyDescriptionChange($event)" />
		    <button type="button" class="btn btn--primary btn--inside uppercase" >🔍By Policy</button>
	     </div>
      </div>
      <div class="col-sm-3">
           <div class="container__item">
			  <input type="text" class="form__field" [(ngModel)]="searchCriteria.ReportedTo" (ngModelChange)="onReportedToChange($event)"/>
		    <button type="button" class="btn btn--primary btn--inside uppercase" >🔍Insurance </button>
	     </div>
        
      </div>
       <div class="col-sm-3 mt-2">
             <!-- <button type="button" class="btn btn--primary  uppercase" style="margin-right: 2px;background-color: #dc3545;color: white">🔴 Replace  </button> -->
                <button type="button" class="btn btn--primary  uppercase"  (click)="clearDeleteReason()" style="margin-right: 2px;background-color: #fd7e14;">💡 All CLaims </button>
                <button type="button" class="btn btn--primary  uppercase "(click)="applyClaimConfirmSearch()"   style="background-color: #198754;color: white;">👩‍✈️ Confirm </button>
       
  
  
  

        
      </div>
      

    </div>
    <div style="text-align: right;">
         <div class="col-sm-12 " style="text-align: right;">
        <a href="javascript:void(0)"  class="" (click)="exportToExcel()">
          📊
        </a>

      </div>

    </div>
  

  

</div>
  
     <div class="scrolling mt-2" > 
     
       <table  class="table table-bordered" style="margin:0 auto;" >
           <thead >
             <tr>
              <th> Info </th>
                <th> ClaimNumber</th>  
         
              <th>Reported To</th>
            
              <th>Driver</th>
              <th>Truck</th>
              <th>Trailer </th>
              <th>Info</th>
            
             
             
            
             
               
               </tr>
           </thead>
           <tbody>
             <tr *ngFor ="let data of listOfMoveClaim |claims:searchCriteria"  (dblclick)="updateStage(data)"  [ngStyle]="{
      'background-color': getStageColor(data.ClaimStatus),
      'color': getTextColor(data.ClaimStatus)
    }">
              <td  [ngStyle]="{
    'background-color': getStageColor(data.Stage),
    'color': getTextColor(data.Stage)
  }">{{data.AccountName}}-{{data.LineName}} /{{data.LineShortName}} <span *ngIf="data.LineName === 'CPKG'">
    <br />
    {{ data.ChildPolicyDescription }}
  </span> </td>
               <td>
        <span *ngIf="data.ClaimNumber && data.ClaimNumber.trim() !== ''" class="claim-highlight">
    {{ data.ClaimNumber }} 
  </span>
  <span *ngIf="!data.ClaimNumber || data.ClaimNumber.trim() === ''">
    Missing -{{data.ChildPolicyName}}
  </span> <br/> 
         {{data.ClaimType}} -{{data.ChildPolicyName}}
    </td>
    
      <td><span style="color: rgba(230, 185, 6, 0.915);">{{data.ReportedTo}}</span> <br/>
      {{data.BrokerName}}</td>
     
     <!-- Driver Column -->
<td [ngStyle]="{
  color: data.DriverName == null && data.Driver ? '#e93423' : 'rgba(15, 15, 15, 0.7)'
}">
  {{ data.DriverName ?? data.Driver ?? '' }}
 
</td>

<!-- Truck Column -->
<td [ngStyle]="{
  color: data.Truck_VIN == null && data.Truck ? '#e93423' : 'rgba(15, 15, 15, 0.7)'
}">
  {{ data.Truck_VIN ?? data.Truck ?? '' }}

</td>

<!-- Trailer Column -->
<td [ngStyle]="{
  color: data.Trailer_VIN == null && data.Trailer ? '#e93423' : 'rgba(15, 15, 15, 0.7)'
}">
  {{ data.Trailer_VIN ?? data.Trailer ?? '' }}
 
</td>

      <td>
         <span [ngClass]="{ 'text-green': data.DeleteReason === 'Claim Confirm' }">
    {{data.InformationReceivedBy}} <br />
    {{data.EnteredDateTime | date:'dd/MM/yyyy'}}<br />
    {{data.EnteredBy}}
    
   

  </span>
    
    </td>
     
   
              
            
             
           
             
            </tr>
            
            
     
          
            
          
             
           
           
            
           </tbody>
         </table>
   </div>
   
 
</div>
</div>