<body>
    <div class="container">
      <input type="checkbox" id="check">
      <label class="show_button" for="check">Click Me check your alert message</label>
      <div class="background"></div>
      <div class="alert_box">
        <div class="icon">
          <i class="fas fa-exclamation"></i>
        </div>
        <header>Opps </header>
        <p>This url open in another tab</p>
        <div class="btns">
          <label for="check" (click)="openThatPage()">Please, Delete!</label>
          <label for="check">Cancel</label>
        </div>
      </div>
    </div>
</body>