
<div class="container">
 <div *ngIf ="!showFiv">
     <h5>File Size is  Big sow it will take some time to Upload</h5>
     <app-spinner></app-spinner>
   </div>
   
 
   
    <div class="container-fluid " *ngIf ="showFiv">
    
 <h4 style="text-align: center;"> Account Name  : {{accountName}}</h4>
       
         <form [formGroup] ="addEditAttachmentForm"> 
            <mat-dialog-content>
            
            
                <div class=""> 
                    <div class="form-floating">
                        <select class="form-select form-select-sm" formControlName="PolicyType" aria-label=".form-select-sm example" >
                    
                            <option hidden value="" disabled selected  >Select Policy Type</option>
                            <option value="Package">Package</option>
                            <option  value="AL">AL -Auto Liability</option>
                            <option value="PD">PD</option>
                            <option value="MTC">MTC -Motor Truck Cargo</option>
                            <option value="General Liability">General Liability</option>
                            <option value="Contingent Auto Liability">Contingent Auto Liability</option>
                            <option value="Contingent Motor Truck Cargo">Contingent Motor Truck Cargo</option>
                            <option value="Non-Trucking Liability">Non-Trucking Liability</option>
                            <option value="Excess Liability">Excess Liability</option>
                            <option value="Umbrella Liability">Umbrella Liability</option>
                            <option value="Contingent Excess Liability">Contingent Excess Liability</option>
                            <option value="Occupational Accidental">Occupational Accidental</option>
                            <option value="Worker Compensation"> Worker Compensation</option>
                          </select>
                          <label>Under  Policy</label>
                        </div>
                </div>


                <div class="mt-1 mb-1"> 
                    <div class="form-floating">
                        <select class="form-select form-select-sm" formControlName="TransactionType" aria-label=".form-select-sm example" >
                    
                            <option hidden value="" disabled selected  >Select Type</option>
                            <option value="Received">Received</option>
                            <option  value="Send">Send</option>
                         
                          </select>
                          <label>Select   Type</label>
                        </div>
                </div>
                
               
            
                <div class="mb-1"> 
                    <div class="form-floating "> 
               
                        <select class="form-select" formControlName ="TeamName">
                   
                         <option value ="Endrosement">Endrosement</option>
                       </select>
                       <label > By Team</label>
                      </div>
                </div>
            
                 
                 <div class="col-sm-12 ">
                     <label>Upload file here</label>
                     <div class=" file-container center  text-center mt-2" >
                         
                         <label>Upload file here</label>
                         <input
                         type="file"
                         class="file"
                         placeholder="File Name"
                         multiple
                         accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf,.wav"
                         
                         (change)= "onFileUpload($event)"  [ngClass]= "{ 'is-invalid': submit && f['abc'].errors }" />
                         <div *ngIf ="submit && f['abc'].errors" class="invalid-feedback">
                             <div *ngIf ="f['abc'].errors">FIle is required</div>
                         </div>
                         <label>Upload file here</label>
                     </div>
                 </div>
                  
                    
             <div *ngIf ="files">
                 {{files.name}}
              
             </div>
             <div class="mt-3 mb-3"> 
                <div class="form-floating">
                    <!-- <select class="form-select form-select-sm" formControlName="Description" aria-label=".form-select-sm example"[ngClass]= "{ 'is-invalid': submit && f['Description'].errors }">
                   
                        <option hidden value="" disabled selected  >Select Description Type</option>
                        <option value="Agency communication">Agency communication</option>
                        <option  value="Application">Application</option>
                        <option value="Company Reports">Company Reports</option>
                        <option value="Drivers">Drivers</option>
                        <option value="Vehicles">Vehicles</option>
                        <option value="IFTA">IFTA</option>
                        <option value="Loss Runs">Loss Runs</option>
                        <option value="Endorsement ">Endorsement </option>
                        <option value="Submissions">Submissions</option>
                        <option value="Quote">Quote</option>
                        <option value="Cab Card">Cab Card</option>
                      </select> -->
                    

                      <textarea
  class="form-control"
  formControlName="Description"
  rows="4"
  placeholder="Enter Description"
  [ngClass]="{ 'is-invalid': submit && f['Description'].errors }">
</textarea>

                       <div *ngIf ="submit && f['Description'].errors" class="invalid-feedback">
                           <div *ngIf ="f['Description'].errors">Description is required</div>
                       </div>
                       <label>Description</label>
                </div>
                
               
             </div>

            
                     
               
           
         
            </mat-dialog-content>
         </form>
      
     <mat-dialog-actions align="end">
        <div class="text-center mt-4 mb-4">
         <div style="text-align: right;">

            <a href="javascript:void(0)"  (click)="onSubmit();" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm me-2"><i class="fas fa-check fa-sm text-white-50"></i> Upload File </a>
            <a href="javascript:void(0)"  class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"  mat-dialog-close><i class="fas fa-times fa-sm text-white-50"></i> Cancel</a>
          
          
             
            
           
           </div>
       </div>
       </mat-dialog-actions>
     
         <!-- <div class="text-center mt-5 mb-5">
             <div class="btn-group  gap-2  " >
                
                 <button mat-stroked-button class="text-right" (click)="onSubmit()">Save</button>
                 <button mat-stroked-button class="text-right" color="warn" mat-button mat-dialog-close>Clear</button>
                
               
               </div>
         </div> -->
     
     </div>
  

</div>
