
<form [formGroup]="addEditRemarksForm">
  <div class="container-fluid scrolling" >
    <div *ngIf ="showSpinner" >
      <app-spinner></app-spinner>
    </div>
    <div *ngIf ="!showSpinner">
      <h4 style="color: #1397d5;margin-top: 3px;">Auto Liability (A L)</h4>
      <div class="row">
        <div class="col-6">
          <div class="form-floating">
            <textarea class="form-control" formControlName="AutoLiability"  (input)="formatCurrencyText('AutoLiability', $event)"></textarea>
            <label>Limit</label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-floating">
            <textarea class="form-control" formControlName="AL_Deductible"(input)="formatCurrencyText('AL_Deductible', $event)"></textarea>
            <label>Deductible</label>
          </div>
        </div>
         <div class="col-6 mt-2">
          <div class="form-floating">
            <textarea class="form-control" formControlName="UninsuredMotorist" (input)="formatCurrencyText('UninsuredMotorist', $event)"></textarea>
            <label>Uninsured Motorist</label>
          </div>
        </div>
        <div class="col-6 mt-2">
          <div class="form-floating">
            <textarea class="form-control" formControlName="UnderinsuredMotorist"(input)="formatCurrencyText('UnderinsuredMotorist', $event)"></textarea>
            <label>Underinsured Motorist</label>
          </div>
        </div>
      </div>

      <h4 style="color: #1397d5;margin-top: 3px;">PHYSICAL DAMAGE (APD)</h4>
      <div class="row">
        <div class="col-6">
          <div class="form-floating">
            <textarea class="form-control" formControlName="PhysicalDamage"  (input)="formatCurrencyText('PhysicalDamage', $event)"></textarea>
            <label>Comprehensive Deductible</label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-floating">
            <textarea class="form-control" formControlName="PhyDamage_Deductible"(input)="formatCurrencyText('PhyDamage_Deductible', $event)"></textarea>
            <label>Collision Deductible</label>
          </div>
        </div>
      </div>

      <h4 style="color: #1397d5;margin-top: 3px;">Moter Truck Cargo (MTC)</h4>
      <div class="row">
        <div class="col-3">
          <div class="form-floating">
            <textarea class="form-control" formControlName="MTC"  (input)="formatCurrencyText('MTC', $event)"></textarea>
            <label>Limit</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <textarea class="form-control" formControlName="MTC_Deductible" (input)="formatCurrencyText('MTC_Deductible', $event)"></textarea>
            <label>Deductible</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <textarea class="form-control" formControlName="MTC_Refer_Breakdown" (input)="formatCurrencyText('MTC_Refer_Breakdown', $event)"></textarea>
            <label>Reefer Breakdown Deductible</label>
          </div>
        </div>
          <div class="col-3">
          <div class="form-floating">
            <textarea class="form-control"  formControlName="MTC_Theft_of_Electronic" (input)="formatCurrencyText('MTC_Theft_of_Electronic', $event)"></textarea>
            <label>theft of electronic</label>
          </div>
        </div>
      </div>

      <h4 style="color: #1397d5;margin-top: 5px;">TRAILER INTERCHANGE</h4>
      <div class="row">
        <div class="col-6">
          <div class="form-floating">
            <textarea class="form-control" formControlName="TrailerInterchange"></textarea>
            <label>Number Of Trailer</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <textarea class="form-control" formControlName="Trailer_limit" (input)="formatCurrencyText('Trailer_limit', $event)"></textarea>
            <label>Limit</label>
          </div>
        </div>
         <div class="col-3">
          <div class="form-floating">
            <textarea class="form-control" formControlName="Trailer_Interchange_Deductible" (input)="formatCurrencyText('Trailer_Interchange_Deductible', $event)"></textarea>
            <label>Trailer Interchange Deductible</label>
          </div>
        </div>
      </div>

      <h4 style="color: #1397d5;margin-top: 5px;">GENERAL LIABILITY COVERAGE(GL)</h4>
      <div class="row">
        <div class="col-3">
          <div class="form-floating">
            <textarea class="form-control" formControlName="GLC_occurence" (input)="formatCurrencyText('GLC_occurence', $event)"></textarea>
            <label>EACH OCCURRENCE</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <textarea class="form-control" formControlName="GLC_DamageToRented"(input)="formatCurrencyText('GLC_DamageToRented', $event)"></textarea>
            <label>DAMAGE TO RENTED</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <textarea class="form-control" formControlName="GLC_MedExp"  (input)="formatCurrencyText('GLC_MedExp', $event)"></textarea>
            <label>MED EXP</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <textarea class="form-control" formControlName="GLC_PersonalAdv"  (input)="formatCurrencyText('GLC_PersonalAdv', $event)"></textarea>
            <label>PERSONAL & ADV INJURY</label>
          </div>
        </div>
        <div class="col-3 mt-1">
          <div class="form-floating">
            <textarea class="form-control" formControlName="GLC_GeneralAgg"(input)="formatCurrencyText('GLC_GeneralAgg', $event)"></textarea>
            <label>GENERAL AGGREGATE</label>
          </div>
        </div>
        <div class="col-3 mt-1">
          <div class="form-floating">
            <textarea class="form-control" formControlName="GLC_Productcomp"(input)="formatCurrencyText('GLC_Productcomp', $event)"></textarea>
            <label>PRODUCTS-COMP</label>
          </div>
        </div>
        <div class="col-3 mt-1">
          <div class="form-floating">
            <textarea class="form-control" formControlName="GLC_Others"(input)="formatCurrencyText('GLC_Others', $event)"></textarea>
            <label>Others</label>
          </div>
        </div>
      </div>

      <h4 style="color: #1397d5;margin-top: 5px;">Umbrella</h4>
      <div class="row">
        <div class="col-6">
          <div class="form-floating">
            <textarea class="form-control" formControlName="Umbrella_Limit"></textarea>
            <label>Limit:</label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-floating">
            <textarea class="form-control" formControlName="Umbrella_Deductible"></textarea>
            <label>Deductible</label>
          </div>
        </div>
      </div>

      <h4 style="color: #1397d5;margin-top: 5px;">Contingent Cargo(C C)</h4>
      <div class="row">
        <div class="col-6">
          <div class="form-floating">
            <textarea class="form-control" formControlName="Contingent_CargoLimit"></textarea>
            <label>Limit:</label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-floating">
            <textarea class="form-control" formControlName="Contingent_Deductible"></textarea>
            <label>Deductible</label>
          </div>
        </div>
      </div>

      <h4 style="color: #1397d5;margin-top: 5px;">Contingent Liability(CL)</h4>
      <div class="row">
        <div class="col-6">
          <div class="form-floating">
            <textarea class="form-control" formControlName="ContingentLiability_Limit"></textarea>
            <label>Limit:</label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-floating">
            <textarea class="form-control" formControlName="ContingentLiability_Deductible"></textarea>
            <label>Deductible</label>
          </div>
        </div>
      </div>

      <h4 style="color: #1397d5;margin-top: 5px;">Contingent Excess (CONT.XS)</h4>
      <div class="row">
        <div class="col-6">
          <div class="form-floating">
            <textarea class="form-control" formControlName="Contingent_XS_Limit"></textarea>
            <label>Limit:</label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-floating">
            <textarea class="form-control" formControlName="Contingent_XS_Deductible"></textarea>
            <label>Deductible</label>
          </div>
        </div>
      </div>

      <h4 style="color: #1397d5;margin-top: 5px;">Excess Liability (XS)</h4>
      <div class="row">
        <div class="col-6">
          <div class="form-floating">
            <textarea class="form-control" formControlName="ExcessLiability_Limit"></textarea>
            <label>Limit:</label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-floating">
            <textarea class="form-control" formControlName="ExcessLiablity_Deductible"></textarea>
            <label>Deductible</label>
          </div>
        </div>
      </div>

      <h4 style="color: #1397d5;margin-top: 5px;">Non Trucking Liability NTL</h4>
      <div class="row">
        <div class="col-6">
          <div class="form-floating">
            <textarea class="form-control" formControlName="NonTrucking_Limit"></textarea>
            <label>Limit:</label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-floating">
            <textarea class="form-control" formControlName="NonTrucking_Deductible"></textarea>
            <label>Deductible</label>
          </div>
        </div>
      </div>

      <h4 style="color: #1397d5;margin-top: 5px;">Towing Limit & Storage</h4>
      <div class="row">
        <div class="col-6">
          <div class="form-floating">
            <textarea class="form-control" formControlName="TowingLimit_Limit"(input)="formatCurrencyText('TowingLimit_Limit', $event)"></textarea>
            <label>Limit:</label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-floating">
            <textarea class="form-control" formControlName="TowingLimit_Deductible"(input)="formatCurrencyText('TowingLimit_Deductible', $event)"></textarea>
            <label>Deductible</label>
          </div>
        </div>
      </div>
       <h4 style="color: #1397d5;margin-top: 5px;">TIV</h4>
      <div class="row">
        <div class="col-6">
          <div class="form-floating">
            <!-- <textarea class="form-control"  TIV  [value]="addEditRemarksForm.get('TIV')?.value | currency"></textarea> -->
             <textarea class="form-control" formControlName="TIV"  (input)="formatCurrencyText('TIV', $event)" ></textarea>
            <label>TIV</label>
          </div>
        </div>
       
      </div>
      <div style="text-align: right;margin-top: 10px;margin-bottom: 10px;" *ngIf ="showSaveButtion">
<a href="javascript:void(0)"  (click)="saveRemarks();" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm me-2" style="font-family: sans-serif;">ADD REMARKS</a>
      </div>
        
    </div>
  
  </div>
</form>



