<div class="container"id="print-section">
 <!-- <div class=""  style="width: 904px;">
 </div> -->
 <div class="row p-4">
  <div class="col-sm-6">
   <img src="assets/americanTeam/logo.PNG" height="80" width="400">

  </div>
  <div class="col-sm-6">
   
   <table  class="table table-bordered border-secondary" style="padding: 2px">
    <thead>
      <tr>
        <td >Agency</td>
        <td >AMERIGO INSURANCE AGENCY</td>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Producer</td>
        <td>PARMJIT DHAMI Producer Code (PSDA01)</td>
        
        
      </tr>
      <tr>
       <td>Email</td>
       <td> {{email}}</td>
       
       
     </tr>
     
    </tbody>
   </table>

    



 



</div>
</div>

<p style="text-align: center;    font-size: medium;
text-align: center;
font-weight: 500;">UNITED SPECIALTY INSURANCE COMPANY – TRUCKING APPLICATION</p>
<div class="p-3">
 <div class="card p-2">
  <h5 class="ml-2" >GENERAL INFORMATION</h5>
  <table  class="table table-bordered border-secondary" style="padding: 2px">
   <thead>
     <tr>
       <td >Effective Date:</td>
       <td >Years in Trucking Industry:</td>
       <td >Years in Business:</td>
      
     </tr>
   </thead>
   
  </table>
  <p >Name:<span>  
   <input type="text" style="border: none;width: 500px;font-weight: 400;font-size:smaller;"></span>
  </p>

  <p >DBA:<span>  
   <input type="text" style="border: none;width: 400px;font-weight: 400;font-size:smaller;"></span>
   Does named insured include DBA: <input type="checkbox" class="defaultCheckbox" 
   name="checkBox1" checked>
  </p>
  <p >Type of Carrier:<span>  
   <input type="text" style="border: none;width: 500px;font-weight: 400;font-size:smaller;"></span>
  </p>

  <table class="table table-bordered border-secondary" style=" border-collapse: collapse;">
   <thead>
       <tr>
           <td>FEIN or SS #</td>
           <td colspan="1">US DOT#</td>
           <td colspan="4">ICC # MC # or MX #</td>
       </tr>
       <tr>
           <td>State Filings required?</td>
           <td colspan="1">State:</td>
           <td colspan="4">Permit #</td>
       </tr>
       <tr>
           <td colspan="3">Mailing Address:</td>
           <td >City:</td>
           <td >State</td>
           <td >Zip</td>
       </tr>
       <tr>
        <td colspan="3">Garaging Address:Near old peerttol pumn 32Tears</td>
        <td >City: Gencard Te</td>
        <td >State:california</td>
        <td >Zip:174307</td>
    </tr>
   </thead>
</table>
<p>Is the garaging location Residential? If so, please describe where vehicle is parked and security measures.</p>
<div class="row">
 <div class="col-sm-6">
  <p >Contact Person Name"_<span>  
   <input type="text" style="border: none;width: 400px;font-weight: 400;font-size:smaller;"></span>
  </p>

 </div>
 <div class="col-sm-6">
  <p >E-mail address:<span>  
   <input type="text" style="border: none;width: 400px;font-weight: 400;font-size:smaller;"></span>
  </p>

 </div>
 <div class="col-sm-6">
  <p >Business Phone:_<span>  
   <input type="text" style="border: none;width: 400px;font-weight: 400;font-size:smaller;"></span>
  </p>

 </div>
 <div class="col-sm-6">
  <p >Mobile Phone:<span>  
   <input type="text" style="border: none;width: 400px;font-weight: 400;font-size:smaller;"></span>
  </p>

 </div>

</div>
 </div>
</div>


<div class="p-3">
 <div class="card p-2">
  <h5 class="ml-2" >COVERGES AND LIMITS INFORMATION</h5>
  <table  class="table table-bordered border-secondary" style="padding: 2px">
   <thead>
     <tr>
       <th style="width: 300px;">Liability</th>
       <td >Limit:</td>
       <td >UM Limit:</td>
       <td >Medical Limit:</td>
      
     </tr>
     <tr>
      <td  >Hired Auto</td>
      <td  colspan="2" ><input type="checkbox" class="defaultCheckbox"  name="checkBox2" checked> 
       <span style="margin-left: 200px;">Cost Of Hire</span>
     </td>
      <td >If Any</td>
    </tr>
    <tr>
     <td  style="width: 300px;">Non-Owned Auto</td>
     <td  colspan="3" ><input type="checkbox" class="defaultCheckbox"  name="checkBox2" checked> 
      <span style="margin-left: 200px;">Number Of Employees</span>
    </td>
    
     
    
   </tr>
   <tr>
    <th >Physical Damage</th>
    <td >Comprehensive Collision Deductible </td>
    <th  colspan="2">☐$1,000 ☐$2,500 ☐$5,000
    </th>
  </tr>
  
  <tr>
   <td>Towing Extension</td>
   <td > ☐Yes</td>
   <td colspan="2"> 
    Limit: ☐$5,000.00 ☐$10,000.00 
   </td>
 </tr>
 <tr>
  <td ><p>Trailer Interchange</p></td>
  <td> <p >Limit:<span>  
   <input type="text" style="border: none;width: 300px;font-weight: 400;font-size:smaller;"></span>
  </p></td>
  <td colspan="2"> 
   <p >Number of Trailers:<span>  
    <input type="text" style="border: none;width: 300px;font-weight: 400;font-size:smaller;"></span>
   </p>
  </td>
 </tr>
 <tr>
  <td ><p>Non-Owned Trailer Physical Damage</p></td>
  <td> <p >Limit:<span>  
   <input type="text" style="border: none;width: 300px;font-weight: 400;font-size:smaller;"></span>
  </p></td>
  <td colspan="2"> 
   <p >Number of Trailers:<span>  
    <input type="text" style="border: none;width: 300px;font-weight: 400;font-size:smaller;"></span>
   </p>
  </td>
 </tr>
   </thead>
   
  </table>
 

 


 </div>
</div>


<div class="p-3">
 <div class="card p-2">
  <h5 class="ml-2" >DESCRITION OF OPERATIONS </h5>
  <table  class="table table-bordered border-secondary" style="padding: 2px">
   <thead>
     <tr>
       <td >Type of Operation:</td>
       <th colspan="5">☒For Hire ☐Private ☐Non-Trucking ☐Other</th>
      
      
     </tr>
     <tr>
      <td>Range of Transport:</td>
      <th colspan="5">☒Interstate ☐Intrastate</th>  
    </tr>
    <tr>
     <th>Radius</th>
     <th>Percentage</th>
     <th>Radius </th>
     <th>Percentage </th>
     <th>Radius</th>
     <th>Percentage</th>
   </tr>
   <tr>
    <th>0-50 mi</th>
    <th>10</th>
    <th>0-250 mi </th>
    <th>40 </th>
    <th>0-750 mi</th>
    <th>50</th>
  </tr>
  <tr>
   <th>0-1500+ mi </th>
   <th></th>
   <th></th>
   <th>Average Radius </th>
   <th colspan="2">500</th>
   
 </tr>
  
   </thead>
   
  </table>
  <h5 class="ml-2">Please List Operation State and Percentage of Miles in Below </h5>
  <table  class="table table-bordered border-secondary" style="padding: 2px">
   <thead>
    
    
    <tr>
     <th>State</th>
     <th>Percentage</th>
     <th>State </th>
     <th>Percentage </th>
     <th>State</th>
     <th>Percentage</th>
     <th>State</th>
     <th>Percentage</th>
   </tr>
   <tr>
    <th>11 Western +TX</th>
    <th>100</th>
    <th> </th>
    <th> </th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
   <th><p></p></th>
   <th></th>
   <th> </th>
   <th> </th>
   <th></th>
   <th></th>
   <th></th>
   <th></th>
 </tr>


   </thead>
   
  </table>
  <h5 class="ml-2">COMMODITIES –<span>Please identify the commodities transported and percentage below</span> </h5>
  <table  class="table table-bordered border-secondary" style="padding: 2px">
   <thead>
    <tr>
     <th>Commodity</th>
     <th>Percentage</th>
     <th>Commodity </th>
     <th>Percentage </th>
     <th>Commodity</th>
     <th>Percentage</th>
     
   </tr>
   <tr>
    <th>Canned Goods </th>
    <th>25</th>
    <th> Water/Beverages (Non-Alcoholic)</th>
    <th>25 </th>
    <th>Fresh Produce</th>
    <th>25</th>
   
  </tr>
  <tr>
   <th>Plastic Products </th>
   <th>25</th>
   <th></th>
   <th></th>
   <th></th>
   <th></th>
  
 </tr>
   </thead>
   
  </table>

 


 </div>
</div>

<div class="p-3">
 <div class="card p-2">
  <h5 class="ml-2" >SCHEDULE OF AUTOS <span>S (All Vehicles must be owned by the insured or leased to the insured by the vehicle owner)   </span></h5>
  <table  class="table table-bordered border-secondary" style="padding: 2px">
   <thead>
    
    <tr>
     <th>Year</th>
     <th>Make</th>
     <th>Type* </th>
     <th>Vin Number </th>
     <th>GVW/GCW</th>
     <th>Stated Value</th>
     <th>O/L**</th>
   </tr>
   <tr>
    <th></th>
    <th></th>
    <th></th>
    <th>See Below</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
   <th><p></p></th>
   <th></th>
   <th></th>
   <th></th>
   <th></th>
   <th></th>
   <th></th>
 </tr>
 <tr>
  <th><p></p></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
</tr>
<tr>
 <th><p></p></th>
 <th></th>
 <th></th>
 <th></th>
 <th></th>
 <th></th>
 <th></th>
</tr>
<tr>
 <th><p></p></th>
 <th></th>
 <th></th>
 <th></th>
 <th></th>
 <th></th>
 <th></th>
</tr>
  
   </thead>
   
  </table>
  

 


 </div>
</div>

<div class="p-3">
 <div class="card p-2">
  <h5 class="ml-2" >Trailer Types (Check those that are applicable)</h5>
  <table  class="table table-bordered border-secondary" style="padding: 2px">
   <thead>
    
    <tr>
     <th>Auto Hauler</th>
     <th style="width: 30px;">☐</th>
     <th>Dump-Bottom </th>
     <th style="width: 30px;">☐</th>
     <th>Pneumatic</th>
     <th style="width: 30px;">☐</th>
     
   </tr>
   <tr>
    <th>Customized</th>
    <th>☐</th>
    <th>Dump-End</th>
    <th>☐</th>
    <th>Refrigerated</th>
    <th>☒</th>
    
  </tr>
  <tr>
   <th>Dry Bulk</th>
    <th>☐</th>
    <th>Dump-Side</th>
    <th>☐</th>
    <th>Tanker</th>
    <th>☐</th>
 </tr>
 <tr>
  <th>Dry Van</th>
  <th>☒</th>
  <th>Flatbed</th>
  <th>☐</th>
  <th>Other: Describe</th>
  <th>☐</th>
</tr>
<tr>
 <th></th>
 <th></th>
 <th>Low Boy</th>
 <th>☐</th>
 <th>Other: Describe</th>
 <th>☐</th>
</tr>

  
   </thead>
   
  </table>
  

 


 </div>
</div>

<div class="p-3">
 <div class="card p-2">
  <h5 class="ml-2" >DRIVER INFORMATION</h5>
  <table  class="table table-bordered border-secondary" style="padding: 2px">
   <thead>
    
    <tr>
     <th>Sr.</th>
     <th >Driver Name</th>
     <th>Date of Birth </th>
     <th >License #</th>
     <th>State</th>
     <th >Yrs of class A</th>
     <th >Yrs with Co.</th>
     <th >Type of Empl.</th>
     
   </tr>
   <tr>
    <th></th>
    <th>See Below</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    
  </tr>
  <tr>
   <th><p></p></th>
   <th></th>
   <th></th>
   <th></th>
   <th></th>
   <th></th>
   <th></th>
   <th></th>
   
 </tr>
 <tr>
  <th><p></p></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  
</tr>
<tr>
 <th><p></p></th>
 <th></th>
 <th></th>
 <th></th>
 <th></th>
 <th></th>
 <th></th>
 <th></th>
 
</tr>

  
   </thead>
   
  </table>
  

 


 </div>
</div>
<div class="p-3">
 <div class="card p-2">
  <h5 class="ml-2" >INSURANCE HISTORY & LOSS EXPERIENCE</h5>
  <table  class="table table-bordered border-secondary" style="padding: 2px">
   <thead>
    
    <tr>
     <th>Company</th>
     <th >Policy Term</th>
     <th># of units </th>
     <th ># of Trlr</th>
     <th>Premium</th>
     <th >Incurred Liab</th>
     <th >Incurred Phys</th>
     <th ># of claims</th>
     
   </tr>
   <tr>
    <th><p></p></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    
  </tr>
  <tr>
   <th><p></p></th>
   <th></th>
   <th></th>
   <th></th>
   <th></th>
   <th></th>
   <th></th>
   <th></th>
   
 </tr>
 <tr>
  <th><p></p></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  
</tr>
<tr>
 <th><p></p></th>
 <th></th>
 <th></th>
 <th></th>
 <th></th>
 <th></th>
 <th></th>
 <th></th>
 
</tr>
<tr>
 <th colspan="8" style="text-align: right;">Note: Please indicate if there was any lapse in coverage during any policy period.</th>
 
 
</tr>
<tr>
 <th colspan="8" >Loss Descriptions: -</th>
 
 
</tr>

  
   </thead>
   
  </table>
  

 


 </div>
</div>
<div class="p-3">
<div class="card p-2">
 <div class="row p-3">
  <div class="col-sm-8">

  </div>
  <div class="col-sm-4">
   YES / NO
  </div>
  <div class="col-sm-8">
   <p class="subheading">1. Do you anticipate adding units during the policy term?</p>
   <ol type="a">
     <li> If yes, how may units will be added?</li>
     <li> How many units will be owned (registered) by named insured?</li>
     <li>How many units will be owner-operators working for you?</li>
   </ol>
  </div>
  <div class="col-sm-4">
   ☐ ☒
  </div>
  <div class="col-sm-8">
    <p class="subheading">2. Do you hire other motor carriers or owner-operators to haul for you?</p>
    <ol type="a">
      <li> Are these scheduled?</li>
      
    </ol>
   </div>
   <div class="col-sm-4">
    ☐ ☒
   </div>
   <div class="col-sm-8">
    <p class="subheading">3. Do you haul any hazardous material, extra hazardous substances, or waste commodities?</p>
   </div>
   <div class="col-sm-4">
    ☐ ☒
   </div>

   <div class="col-sm-8">
    <p class="subheading">4. Are any units equipped with GPS location services?<br/>
     <span style="margin-left:17px;"> If yes, please describe the type of device and how insured keeps the records in below.</span></p>
    
   </div>
   <div class="col-sm-4">
    ☐ ☒
   </div>
   <div class="col-sm-8">
    <p class="subheading">5. Do you pull double trailers? If yes, please describe customary and usual routes in below.</p>
    
   </div>
   <div class="col-sm-4">
    ☐ ☒
   </div>
   <div class="col-sm-8">
    <p class="subheading">6. Do you pull triple trailers?</p>
    
   </div>
   <div class="col-sm-4">
    ☐ ☒
   </div>
   <div class="col-sm-8">
    <p class="subheading">7. Do you haul oversize or overweight loads?</p>
    
   </div>
   <div class="col-sm-4">
    ☐ ☒
   </div>
   <div class="col-sm-8">
    <p class="subheading">8. Do you haul commodities that are subject to tight delivery time constraints?</p>
    
   </div>
   <div class="col-sm-4">
    ☐ ☒
   </div>
   <div class="col-sm-8">
    <p class="subheading">9. Is all the equipment operation under your authority scheduled on this application?</p>
    
   </div>
   <div class="col-sm-4">
    ☒ ☐
   </div>
   <div class="col-sm-8">
    <p class="subheading">10. Is the insured involved in any business activity other than trucking?</p>
    
   </div>
   <div class="col-sm-4">
    ☐ ☒
   </div>
   <div class="col-sm-8">
    <p class="subheading">11. Do you act as a freight -broker or freight-forwarder or arrange loads for others?</p>
    
   </div>
   <div class="col-sm-4">
    ☐ ☒
   </div>
   <div class="col-sm-8">
    <p class="subheading">12. Have you or any business you owned ever filed for bankruptcy?</p>
    
   </div>
   <div class="col-sm-4">
    ☐ ☒
   </div>
   <div class="col-sm-8">
    <p class="subheading">13. Any policy or coverage declined, cancelled, non-renewed during the prior 3 years?</p>
    
   </div>
   <div class="col-sm-4">
    ☐ ☒
   </div>
   <div class="col-sm-8">
    <p class="subheading">14. Is a Truckers Uniform Intermodal Interchange endorsement required?</p>
    
   </div>
   <div class="col-sm-4">
    ☐ ☒
   </div>
   <div class="col-sm-8">
    <p class="subheading">15. Do you carry Worker’s Compensation?</p>
    
   </div>
   <div class="col-sm-4">
    ☐ ☒
   </div>
   <div class="col-sm-8">
    <p class="subheading">16. Is any portion of your operation seasonal? If yes, Explain Below.</p>
    
   </div>
   <div class="col-sm-4">
    ☐ ☒
   </div>
   <div class="col-sm-8">
    <p class="subheading">17. Do you lease your vehicle to others?</p>
    <ol type="a">
      <li> If yes, who must provide primary liability coverage?</li>
      
    </ol>
   </div>
   <div class="col-sm-4">
    ☐ ☒
   </div>
   <div class="col-sm-8">
    <p class="subheading">18. Do you have formal safety program in place?</p>
   </div>
   <div class="col-sm-4">
     ☒ ☐
   </div>
   <div class="col-sm-8">
    <p class="subheading">19. Do you have a vehicle maintenance program in place?</p>
   </div>
   <div class="col-sm-4">
     ☒ ☐
   </div>
   <div class="col-sm-8">
    <p class="subheading">20. Is there personal use of vehicles?</p>
   </div>
   <div class="col-sm-4">
    ☐ ☒ 
   </div>
   <div class="col-sm-8">
    <p class="subheading">21. Is all the equipment operating under your authority scheduled on this application?</p>
   </div>
   <div class="col-sm-4">
     ☒ ☐  
   </div>
   <div class="col-sm-8">
    <p class="subheading">22. Do you anticipate traveling to outside of the U.S. (Canada or Mexico) during the policy term?</p>
   </div>
   <div class="col-sm-4">
     ☐ ☒
   </div>

 </div>
 
 
 
</div>
</div>
<div class="p-3">
  <div class="card">
    <h5 class="mb-5 mt-4" style="margin-left: 15px;">Please provide additional explanation for any answers needed.</h5>
    <p class="subheading"  style="margin-left: 15px;">BY SIGNING THIS APPLICATION, THE APPLICANT WARRANTS AND REPRESENTS THAT THE EACH OF THE FACTS AND ALL INFORMATION CONTAINED IN THIS APPLICATION,
      ALONG WITH ALL OTHER INFORMATION SUPPLIED BY APPLICANT (COLLECTIVELY THE "FACTS") TO UNITED SPECIALTY INSURANCE COMPANY (THE "INSURER") AND
      AMERICAN TEAM MANAGERS, INC., ITS MANAGING GENERAL UNDERWRITER
      ("MGU"), ARE TRUE, COMPLETE AND ACURATE AND UNDERSTANDS AND AGREES THAT THE INSURER AND THE MGU WILL RELY ON THE FACTS SUPPLIED BY THE APPLICANT
      TO DETERMINE THE ACCEPTABILITY OF THE APPLICANT AND THE RISKS, THE RATES AND THE COVERAGES.
      IF THE APPLICANT DISCOVERS, AT ANY TIME, THAT ANY OF THE FACTS MADE IN THIS OR IN ANY OTHER WRITTEN DOCUMENT PROVIDED BY OR ON BEHALF OF THE
      APPLICANT TO THE INSURER OR THE MGU IS FALSE, MISLEADING OR INACCURATE IN ANY MANNER, THE APPLICANT IS REQUIRED TO IMMEDIATELY PROVIDE THE MGU
      AND INSURER WITH THE TRUE I NFORMATI ON, IN WRITING, WHETHER THE DISCOVERY OCCURS BEFORE OR AFTER THE INSURANCE POLICY HAS BEEN ISSUED. ANY FALSE
      OR MISLEADING FACTS GIVEN BY OR ON BEHALF OF THE APPLICANT, OR THE FAILURE TO PROVIDE THE FACTS REQUESTED, SHALL CONSTITUTE GROUNDS FOR RECISSION IF
      COVERAGE AND DENIAL OF ALL CLAIMS, OR AT THE OPTION OF THE INSURER, THE ASSESSMENT OF SUBTANTIAL ADDITIONAL PREMIUM CHARGES.
      I AUTHORIZE THE MGU TO OBTAIN A COPY OF MY MOTOR VEHICLE RECORDFOR RATING/UNDERWRITING THE INSURANCE FOR WHICH I HAVE APPLIED. I ALSO
      UNDERSTAND THAT A ROUTINE INQUIRY MAY BE MADE PROVIDING INFORMATION CONCERNING MY CHARACTER, GENERAL REPUTATION, PERSONAL CHARACTRISTICS AND
      MODE OF LIVI NG, AS WELL AS ANY PERTINENT FINANCIAL DATA DEEMED NECESSARY. UPON WRITTEN REQUEST, INFORMATION AS TO THE NATURE AND SCOPE OF THE
      REPORT WILL BE PROVIDED TO ME.
      ANY PERSON WHO KNOWINGLY PRESENTS FALSE OR FRAUDULENT CLAIM FOR THE PAYMENT OF A LOSS IS GUILTY OF A CRIME AND MAY BE SUBJECT TO CRIMINAL AND
      CIVIL PENALTIES.</p>
      <div class="row p-5">
        <div class="col-sm-5" style="text-align: center;">
          <p >Insured Signature:<span >  
            <input type="text" style="border: none;width: 300px;font-weight: 200;font-size:smaller;"></span>
           </p>
           
        </div>
        <div class="col-sm-7" style="text-align: center;">
          <p >Agent Signature:<span >  
            <input type="text" style="border: none;width: 300px;font-weight: 200;font-size:smaller;"></span>
           </p>
        </div>
        <div class="col-sm-5" style="text-align: center;">
          <p >Date:<span >  
            <input type="text" style="border: none;width: 300px;font-weight: 200;font-size:smaller;"></span>
           </p>
        </div>
        <div class="col-sm-7" style="text-align: center;">
          <p >Date:<span >  
            <input type="text" style="border: none;width: 300px;font-weight: 200;font-size:smaller;"></span>
           </p>
        </div>

      </div>
      
    
  
   </div>
</div>


 <!-- next -->

 <div class="p-3">
  <div style="text-align: center;">
    <img src="../../../../assets/americanTeam/newlogo.jpg">

  </div>
  <div class="">

   <table  class="table table-bordered border-secondary" >
    <tbody>
      <tr>
        <th >Agency Information</th>

      </tr>
      <tr>
        <td>Agency Name:</td>

      </tr>
      <tr>
        <td>Producer:</td>

      </tr>
      <tr>
        <td>Email:</td>

      </tr>
    </tbody>
    
   </table>

   <table  class="table table-bordered border-secondary" >
    <tbody>
      <tr>
        <th >GENERAL INFORMATION</th>

      </tr>
      <tr>
        <td>Effective Date:</td>
        <td>Years in Trucking Industry::</td>
        <td>Years in Business:</td>

      </tr>
      <tr>
        <td>Name:</td>
      </tr>
      <tr>
        <td>DBA::</td>
      </tr>
     
    
    </tbody>
    
   </table>

   <table  class="table table-bordered border-secondary" >
    <tbody>
      <tr>
        <td>Type of Authority:</td>

      </tr>
      <tr>
        <td>FEIN or SS#:</td>
        <td>US DOT#</td>
        <td>ICC#MC#</td>

      </tr>
      <tr>
        <td colspan="2">Mailing Address:</td>
        <td>City:</td>
        <td>State:</td>
        <td>Zip:</td>

      </tr>
      <tr>
        <td colspan="2">Garaging Address:</td>
        <td>City:</td>
        <td>State:</td>
        <td>Zip:</td>

      </tr>
     
     
    
    </tbody>
    
   </table>

   <table class="table table-bordered border-secondary">
    <thead>
      <tr>
        <th scope="col">Please list Operation State and Percentage of Miles in Below</th>
       
      </tr>
    </thead> <thead>
      <tr>
        <td scope="col">State</td>
        <td scope="col">Percentage</td>
        <td scope="col">State</td>
        <td scope="col">Percentage</td>
        <td scope="col">State</td>
        <td scope="col">Percentage</td>
       
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row">11 Western</th>
        <th>100</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

        
      </tr>
      <tr>
        <th scope="row"><p></p></th>
        <th></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

        
      </tr>
     
    </tbody>
  </table>


  <table class="table table-bordered border-secondary">
    <thead>
      <tr>
        <th colspan="3">LIMITS OF INSURANCE</th>
       
      </tr>
    </thead> 
   

    <tbody>
      <tr>
        <td colspan="2">Any one unit:<span style="font-weight: 600;">$100,000.00</span></td>
        <td >Deductible:<span style="font-weight: 600;">$1,000.00</span></td>
        

        
      </tr>
      <tr>
        <td colspan="3">Any one loss:</td>
      </tr>
      <tr>
        <td colspan="3">Increased limit for specific shipper:</td>
      </tr>
      <tr>
        <td colspan="3">Shipper Name:</td>
      </tr>
      <tr>
        <td >Refrigeration Break Down</td>
        <td style="width: 300px;">☐</td>
        <td >Deductible:</td>

      </tr>
     
    </tbody>

    <tbody>
      <tr>
        <th colspan="2">DESCRIPTION OF OPERATIONS</th>
      
        

        
      </tr>
      <tr>
        <td>Type of Operation</td>
        <td colspan="3">☒For Hire ☐Private ☐Non-Trucking ☐Other:</td>
      </tr>
      <tr>
        <td>Range of Transport</td>
        <td colspan="3">☒Interstate ☐Intrastate</td>
      </tr>
      <tr>
        <td>Radius:</td>
        <td>Percentage of Loads</td>
        <td>Radius</td>
        <td >Percentage of Loads</td>

      </tr>
      <tr>
        <td>0-100 Miles</td>
        <th>10</th>
        <td>501-750 Miles</td>
        <th>15</th>

      </tr>
      <tr>
        <td>100-300 Miles</td>
        <th>30</th>
        <td>750+ Miles</td>
        <th>30</th>

      </tr>
      <tr>
        <td>301-500 Miles</td>
        <th>15</th>
        <td>Average Radius</td>
        <th>750</th>

      </tr>
      <tr>
        <td colspan="3">Target Cities: (check all that apply that you are located within 50 miles or travel through)</td>
        

      </tr>
      <tr>
        <td>Los Angeles, CA☐</td>
        <td>New York, NY☐</td>
        <td>Newark, NJ☐</td>
        <td>Miami, FL☐</td>

      </tr>
      <tr>
        <td>Chicago, IL☐</td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
     
     
    </tbody>


  
  </table>
  <table class="table table-bordered border-secondary">
    <thead>
      <tr>
        <th colspan="4">COMMODITIES –<span style="font-weight: 400;"> Please identify the commodities transported and percentages below</span></th>
        
      </tr>
    </thead>
    <thead>
      <tr>
        <th scope="col">Commodity</th>
        <th scope="col">Average Amount Per Load</th>
        <th scope="col">Maximum Amount per Load</th>
        <th scope="col">Percentage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th >CANNED GOODS</th>
        <th>$35,000.00</th>
        <th>$100,000.00</th>
        <th>25</th>
        
      </tr>
      <tr>
        <th >CANNED GOODS</th>
        <th>$35,000.00</th>
        <th>$100,000.00</th>
        <th>25</th>
        
      </tr>
      <tr>
        <th >PAPER PRODUCTS</th>
        <th>$30,000.00</th>
        <th>$100,000.00</th>
        <th>25</th>
        
      </tr>
      <tr>
        <th >BEVERAGES(NON-AL)</th>
        <th>$35,000.00</th>
        <th>$100,000.00</th>
        <th>25</th>
        
      </tr>
      <tr>
        <th >PLASTIC PRODUCT</th>
        <th>$30,000.00</th>
        <th>$100,000.00</th>
        <th>25</th>
        
      </tr>
    </tbody>
  </table>


  <table class="table table-bordered border-secondary">
    <thead>
      <tr>
        <th colspan="7">A theft limitation may apply based on the commodities transported</th>
        
      </tr>
    </thead>
    <thead>
      <tr>
        <th colspan="7">SCHEDULE OF AUTOS and REFRIGERATED TRAILERS</th>
        
      </tr>
    </thead>
    <thead>
      <tr>
        <td scope="col">Year</td>
        <td scope="col">Make</td>
        <td scope="col">Type</td>
        <td scope="col">VIN #</td>
        <td scope="col">GVW/GCW</td>
        <td scope="col">State Value</td>
        <td scope="col">O/L</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th ></th>
        <th>Attached</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        
      </tr>
      <tr>
        <th ><p></p></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <tr>
        <th ><p></p></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    
   
     
    </tbody>
  </table>

  <table class="table table-bordered border-secondary">
   
    <thead>
      <tr>
        <th colspan="6">Trailer Types (Check those that are applicable)</th>
        
      </tr>
    </thead>
    <thead>
      <tr>
        <td scope="col">Auto Hauler</td>
        <td scope="col" style="text-align: center;">☐</td>
        <td scope="col">Dump-Bottom</td>
        <td scope="col" style="text-align: center;">☐ </td>
        <td scope="col">Pneumatic</td>
        <td scope="col" style="text-align: center;">☐</td>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="col">Customized</td>
        <td scope="col" style="text-align: center;">☐</td>
        <td scope="col">Dump-End</td>
        <td scope="col" style="text-align: center;">☐ </td>
        <td scope="col">Refrigerated</td>
        <td scope="col" style="text-align: center;">☐</td>
        
      </tr>
      <tr>
        <td scope="col">Dry Bulk</td>
        <td scope="col" style="text-align: center;">☐</td>
        <td scope="col">Dump-Side</td>
        <td scope="col" style="text-align: center;">☐ </td>
        <td scope="col">Tanker</td>
        <td scope="col" style="text-align: center;">☐</td>
      </tr>

      <tr>
        <td scope="col">Dry Van</td>
        <td scope="col" style="text-align: center;">☒</td>
        <td scope="col">Flatbed</td>
        <td scope="col" style="text-align: center;">☐ </td>
        <td scope="col">Other: Describe</td>
        <td scope="col" style="text-align: center;">☐</td>
      </tr>
      <tr>
        <td scope="col"> </td>
        <td scope="col"> </td>
        <td scope="col">Low Boy</td>
        <td scope="col" style="text-align: center;">☐ </td>
        <td scope="col">Other: Describe</td>
        <td scope="col" style="text-align: center;">☐</td>
      </tr>
    
   
     
    </tbody>
  </table>

  <table class="table table-bordered border-secondary">
   
    <thead>
      <tr>
        <th colspan="4">Terminals (List terminal location(s) if coverage is desired)</th>
        
      </tr>
    </thead>
    <thead>
      <tr>
        <td scope="col">Address</td>
        
        <td scope="col">Security</td>
        
        <td scope="col">Maximum Values Exposed</td>
       
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="col"></td>
       
        <td scope="col"></td>
       
        <td scope="col"><p></p></td>
    
        
      </tr>
      <tr>
        <td scope="col"></td>
       
        <td scope="col"></td>
       
        <td scope="col"><p></p></td>
    
        
      </tr>

      <tr>
        <td scope="col"></td>
       
        <td scope="col"></td>
       
        <td scope="col"><p></p></td>
    
        
      </tr>
     
    
   
     
    </tbody>
  </table>


  <table class="table table-bordered border-secondary">
   
    <thead>
      <tr>
        <th colspan="7" style="font-weight: 700;">DRIVER INFORMATION</th>
        
      </tr>
    </thead>
    <thead>
      <tr>
        <td scope="col">Driver Name</td>
        
        <td scope="col">Date of Birth</td>
        
        <td scope="col">License #</td>
        <td scope="col">State </td>
        <td scope="col">Yrs of Class A </td>
        <td scope="col">Yrs with Co.</td>
        <td scope="col">Type of Emp</td>
       
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="col"></td>
       
        <th scope="col">Attach</th>
       
        <td scope="col"><p></p></td>
        <td scope="col"></td>
       
        <td scope="col"></td>
       
        <td scope="col"><p></p></td>
        <td scope="col"></td>
    
        
      </tr>
      <tr>
        <td scope="col"></td>
       
        <td scope="col"></td>
       
        <td scope="col"><p></p></td>
        <td scope="col"></td>
       
        <td scope="col"></td>
       
        <td scope="col"><p></p></td>
        <td scope="col"></td>
    
        
      </tr>

      <tr>
        <td scope="col"></td>
       
        <td scope="col"></td>
       
        <td scope="col"><p></p></td>
        <td scope="col"></td>
       
        <td scope="col"></td>
       
        <td scope="col"><p></p></td>
        <td scope="col"></td>
    
        
      </tr>
     
    
   
     
    </tbody>
  </table>
  <table class="table table-bordered border-secondary">
   
    <thead>
      <tr>
        <th colspan="6" style="font-weight: 700;">INSURANCE HISTORY & LOSS EXPERIENCE</th>
        
      </tr>
    </thead>
    <thead>
      <tr>
        <td scope="col">Company</td>
        
        <td scope="col">Policy Term</td>
        
        <td scope="col"># of Power Unit</td>
        <td scope="col">Premium </td>
        <td scope="col">Incurred Claims</td>
        <td scope="col"># of Claims.</td>
        
       
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="col"></td>
       
        <th scope="col"></th>
       
        <td scope="col"><p></p></td>
        <td scope="col"></td>
       
        <td scope="col"></td>
       
        <td scope="col"><p></p></td>
        
    
        
      </tr>
      <tr>
        <td scope="col"></td>
       
        <td scope="col"></td>
       
        <td scope="col"><p></p></td>
        <td scope="col"></td>
       
        <td scope="col"></td>
       
        <td scope="col"><p></p></td>
        
    
        
      </tr>

      <tr>
        <td scope="col"></td>
       
        <td scope="col"></td>
       
        <td scope="col"><p></p></td>
        <td scope="col"></td>
       
        <td scope="col"></td>
       
        <td scope="col"><p></p></td>
        
    
        
      </tr>
      <tr>
        <td scope="col"></td>
       
        <td scope="col"></td>
       
        <td scope="col"><p></p></td>
        <td scope="col"></td>
       
        <td scope="col"></td>
       
        <td scope="col"><p></p></td>
        
    
        
      </tr>
     
    
   
     
    </tbody>
  </table>



  
   
   
 

  
 
  

  </div>
 </div>


 <div class="p-3">
  <div class="card p-2">
   <div class="row p-3">
    <div class="col-sm-8">
  
    </div>
    <div class="col-sm-4">
     YES / NO
    </div>
    <div class="col-sm-8">
     <p class="subheading">1. Are vehicles Ever left Loaded and Unattended?</p>
    
    </div>
    <div class="col-sm-4">
     ☐ ☒
    </div>
    <div class="col-sm-8">
      <p class="subheading">2. Does application Ever leave Loaded Trailers Detached?</p>
     
     </div>
     <div class="col-sm-4">
      ☐ ☒
     </div>
     <div class="col-sm-8">
      <p class="subheading">3. What Security is provided for loaded vehicles at locations? (Check all that apply)</p>
      <div class="row">
        <div class="col-sm-4">
          ☒Fenced Lot
        </div>
        <div class="col-sm-4">
          ☒Security Cameras
        </div>
        <div class="col-sm-4">
          ☒Camera’s
        </div>
        <div class="col-sm-4">
          ☒Kingpin Locks
        </div>
        <div class="col-sm-4">
          ☒Vehicle Theft Alarms
        </div>
        <div class="col-sm-4">
          ☐In Locked Building
        </div>

      </div> 
    </div>
     <div class="col-sm-4">
      ☐ ☒
     </div>
    
  
     <div class="col-sm-8">
      <p class="subheading">4. What Security is provided for loaded vehicles in transit? (Check all that apply)</p>
      <div class="row">
        <div class="col-sm-6">
          ☒GPS Device
        </div>
        <div class="col-sm-6">
          ☐Armed Guard in Vehicle
        </div>
        <div class="col-sm-6">
          ☐Vehicle Theft
        </div>
        <div class="col-sm-6">
          ☐Alarm Other
        </div>
        

      </div>
     </div>
     <div class="col-sm-4">
      ☐ ☒
     </div>
     <div class="col-sm-8">
      <p class="subheading">5. Do you hire other motor carriers or owner-operators to haul for you? 
       </p>
      
     </div>
     <div class="col-sm-4">
      ☐ ☒
     </div>
     <div class="col-sm-8">
      <p class="subheading " style="margin-left: 100px;" >  Are these scheduled?</p>
      
     </div>
     <div class="col-sm-4">
      ☐ ☒
     </div>
     <div class="col-sm-8">
      <p class="subheading">6. Do you pull double trailers?</p>
      
     </div>
     <div class="col-sm-4">
      ☐ ☒
     </div>
     <div class="col-sm-8">
      <p class="subheading">7. Do you pull triple trailers?</p>
      
     </div>
     <div class="col-sm-4">
      ☐ ☒
     </div>
     <div class="col-sm-8">
      <p class="subheading">8. Do you haul oversize or overweight loads?</p>
      
     </div>
     <div class="col-sm-4">
      ☐ ☒
     </div>
     <div class="col-sm-8">
      <p class="subheading">9. Do you haul commodities that are subject to tight delivery time constraints?</p>
      
     </div>
     <div class="col-sm-4">
      ☐ ☒
     </div>
     <div class="col-sm-8">
      <p class="subheading">10. Is the insured involved in any business activity other than trucking?</p>
      
     </div>
     <div class="col-sm-4">
      ☐ ☒
     </div>
     <div class="col-sm-8">
      <p class="subheading">11. Is the insured involved in any business activity other than trucking?</p>
      
     </div>
     <div class="col-sm-4">
      ☐ ☒
     </div>
     <div class="col-sm-8">
      <p class="subheading">12. Do you act as a freight-broker or freight-forwarder or arrange loads for others?</p>
      
     </div>
     <div class="col-sm-4">
      ☐ ☒
     </div>
     <div class="col-sm-8">
      <p class="subheading">13. Have you or any business you owned ever filed for bankruptcy?</p>
      
     </div>
     <div class="col-sm-4">
      ☐ ☒
     </div>
     <div class="col-sm-8">
      <p class="subheading">14. Any policy or coverage declined, cancelled, non-renewed during the prior 3 years?</p>
      
     </div>
     <div class="col-sm-4">
      ☐ ☒
     </div>
     <div class="col-sm-8">
      <p class="subheading">15. Do you lease your vehicles to others?</p>
      <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-6">
         <p>If yes, who must provide primary cargo coverage?</p> 
        </div>
        <div class="col-sm-5">
          ☐You ☐Lessee
        </div>


      </div>
      
     </div>
     <div class="col-sm-4">
      ☐ ☒
     </div>
     <div class="col-sm-8">
      <p class="subheading">16. Do you have a vehicle maintenance program in place?</p>
      
     </div>
     <div class="col-sm-4">
      ☒ ☐
     </div>
     <div class="col-sm-8">
      <p class="subheading">17. Do you have a vehicle maintenance program in place?</p>
    
     </div>
     <div class="col-sm-4">
      ☐ ☒
     </div>
     <div class="col-sm-8">
      <p class="subheading">18.Do you anticipate traveling to Mexico during the policy term?</p>
     </div>
     <div class="col-sm-4">
       ☒ ☐
     </div>
     
  
   </div>
   
   
   
  </div>
  </div>

  <div class="p-3">

  <div class="card">
    <p class="subheading mt-2 mb-5"  style="margin-left: 15px;">Please Provide loss description and additional explanation for any answers needed.</p>  
  </div>

  <div class="card mt-2">
    <p class="subheading mt-2"  style="margin-left: 15px;font-size:x-small;">ALL VEHICLES SCHEDULED ON THE POLICY MUST BE OWNED/REGISTERED TO THE NAMED INSURED OR HAVE A WRITTEN LEASE<br/>
      AGREEMENT BETWEEN THE INSURED AND VEHICLE OWNER.</p>  
      <p class="subheading"  style="margin-left: 15px;font-size:x-small;">ANY PERSON WHO KNOWINGLY AND WITH INTENT TO DEFRAUD ANY INSURANCE COMPANY OR ANOTHER PERSON FILES AN APPLICATION FOR INSURANCE OR
        STATEMENT OF CLAIM CONTAINING ANY MATERIALLY FALSE INFORMATION OR CONCEALS FOR THE PURPOSE OF MISLEADING INFORMATION CONCERNING
        ANYFACT MATERIAL THERETO, COMMITS A FRAUDULENT INSURANCE ACT, WHICH IS A CRIME AND SUBJECTS THE PERSON TO CRIMINAL AND [NY: SUBSTANTIAL]
        CIVILPENALTIES. (NOT APPLICABLE IN CO, FL, HI, MA, NE, OH, OK, OR, or VT; in DC, LA, ME, TN, VA AND WA, INSURANCE BENEFITS MAY ALSO BE DENIED)
        IN FLORIDA, ANY PERSON WHO KNOWINGLY AND WITH INTENT TO INJURE, DEFRAUD, OR DECEIVE ANY INSURER FILES A STATEMENT OF CLAIM OR ANAPPLICATION
        CONTAINING ANY FALSE, INCOMPLETE, OR MISLEADING INFORMATION IS GUILTY OF A FELONY OF THE THIRD DEGREE. THE UNDERSIGNED IS AN AUTHORIZED
        REPRESENTATIVE OF THE APPLICANT AND REPRESENTS THAT REASONABLE ENQUIRY HAS BEEN MADE TO OBTAINTHE ANSWERS TO QUESTIONS ON THIS
        APPLICATION. HE/SHE REPRESENTS THAT THE ANSWERS ARE TRUE, CORRECT AND COMPLETE TO THE BEST OFHIS/HER KNOWLEDGE.</p>

        <p class="subheading"  style="margin-left: 15px;font-size:x-small;">I AUTHORIZE <input type="text" style="border: none;width: 200px;font-weight: 400;font-size:smaller;border: 0;
          outline: 0;
          background: transparent;
          border-bottom: 1px solid black;"> TO OBTAIN A COPY OF MY MOTOR VEHICLE RECORD FOR RATING/UNDERWRITING THE INSURANCE FOR WHICH I HAVE
          APPLIED. I ALSO UNDERSTAND THAT A ROUTINE INQUIRY MAY BE MADE PROVIDING INFORMATION CONCERNING MY CHARACTER, GENERAL REPUTATION,
          PERSONAL CHARACTERISTICS AND MODE OF LIVING, AS WELL AS ANY PERTINENT FINANCIAL DATA DEEMED NECESSARY. UPON WRITTEN REQUEST, INFORMATION
          AS TO THE NATURE
          AND SCOPE OF THE REPORT WILL BE PROVIDED TO ME.</p>
          <div class="row p-3">
            <div class="col-sm-4">
              Insured Signature: <input type="text" style="border: none;width: 200px;font-weight: 400;font-size:smaller;border: 0;
              outline: 0;
              background: transparent;
              border-bottom: 1px solid black;">
              <br/>
             
            </div>
            <div class="col-sm-4">
              Agent Signature: <input type="text" style="border: none;width: 200px;font-weight: 400;font-size:smaller;border: 0;
              outline: 0;
              background: transparent;
              border-bottom: 1px solid black;">
              
            </div>
            <div class="col-sm-4">
             
              
            </div>
            <div class="col-sm-4">
              <div style="margin-left: 30px; ">

                Date:<input type="text"  style="border: none;width: 200px;font-weight: 400;font-size:smaller;border: 0;
                outline: 0;
                background: transparent;
                border-bottom: 1px solid black; margin-left: 5px;">
              </div>
             
            </div>
            <div class="col-sm-4 ">
             <div style="margin-left: 30px;">
              Date:<input type="text" class="ml-2" style="border: none;width: 200px;font-weight: 400;font-size:smaller;border: 0;
              outline: 0;
              background: transparent;
              border-bottom: 1px solid black;margin-left: 5px;">
             </div>
            
            </div>

          </div>
  </div>

  </div>


</div>


<div  style ="text-align: center;margin-top: 5px;">
 <button style="width: 300px;color: green;" class="learn-more"[useExistingCss]="true" printSectionId="print-section"printTitle=" "  ngxPrint>Save And convert PDF</button> 
</div>