<!-- 



<div class="container">
 <div class="card mt-2">
     <div  class="card-header" style="background-color: #17a0bc; color: white;">
         <a href="javascript:void(0)" style=" color: white;text-decoration: dashed;" > Update StageType </a>  
       </div>
 </div>

<div class="  ">
 <form [formGroup]="updateForm">
     <div class="row p-1">
       
       
       
        
         <div class="col-sm-12 mt-2 ">
             <label>Select Stage</label>
             <select class="form-select formControl mt-1" formControlName ="StageType"  aria-label="Default select example" style="margin-top: 28px;"[ngClass]= "{ 'is-invalid': submit && f['StageType'].errors }" >
                 <option hidden value="" disabled selected  > Select Stage</option>
                 <option  value="Issue">Issue</option>
                 <option  value="In process">In process</option>
               
                 
                
               </select>
               <div *ngIf ="submit && f['StageType'].errors" class="invalid-feedback">
                 <div *ngIf ="f['StageType'].errors">StageType is required</div>
             </div> 
 
         </div>
      
      
      
       
       
       
     
 
 
     </div>
 
 </form>
</div>
<div class="text-center mt-5">
 <div  *ngIf ="messageSuccess">
  <button type="button" style="width: 130px;" class="btn btn-outline-success"(click)="onSubmit()">Update Stage</button>
  <button type="button" style="width: 130px; margin-left: 5px;" class="btn btn-outline-danger "mat-dialog-close>Cancel</button>
  
 

    
   
   </div>
</div>

</div> -->

<div class="stage-update-container">

  <!-- Header -->
  <div class="stage-update-header">
    <div class="header-title">
      <i class="fa fa-refresh" aria-hidden="true"></i>
      <span>Update Stage Type</span>
    </div>

    <button
      type="button"
      class="close-btn"
      mat-dialog-close
      aria-label="Close">
      <i class="fa fa-times"></i>
    </button>
  </div>


  <!-- Form -->
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">

    <div class="stage-update-body">

      <div class="form-group">

        <label for="stageType">
          Select Stage
          <span class="required">*</span>
        </label>

        <div class="select-wrapper">
          <i class="fa fa-tasks select-icon"></i>

          <select
            id="stageType"
            class="form-select stage-select"
            formControlName="StageType"
            [ngClass]="{
              'is-invalid': submit && f['StageType'].errors
            }">

            <option value="" disabled>
              Select Stage
            </option>

            <option value="Issue">
              Issue
            </option>

            <option value="In process">
              In process
            </option>
             <option value="Not Issue">
              Not Issue
            </option>

          </select>
        </div>

        <div
          *ngIf="submit && f['StageType'].errors"
          class="validation-error">

          <i class="fa fa-exclamation-circle"></i>
          Stage is required

        </div>

      </div>

    </div>


    <!-- Footer -->
    <div class="stage-update-footer">

      <button
        type="submit"
        class="btn-update"
        [disabled]="updateForm.invalid && submit">

        <i class="fa fa-check"></i>
        Update Stage

      </button>

      <button
        type="button"
        class="btn-cancel"
        mat-dialog-close>

        <i class="fa fa-times"></i>
        Cancel

      </button>

    </div>

  </form>

</div>