
<div class="container-fluid" >
       <div class="col-12 col-lg-12 col-sm-12 mt-2" style="text-align: right;" >
        
                <button type="button"(click)="attachmentSupport()" class="btn btn--primary  uppercase" style="margin-right: 2px;background-color: #dc3545;color: white">📎 Attachement  </button>
                <button type="button"(click) ="vehicleSupport()" class="btn btn--primary  uppercase" style="margin-right: 2px;background-color: #fd7e14;">💡 Add Vehicles </button>
                <button type="button" (click) ="driverComponent()" class="btn btn--primary  uppercase "  style="background-color: #198754;color: white;">👨‍💼 Add Drivers </button>
      </div>
      

</div>

<div class="container-fluid" >
  <router-outlet></router-outlet>

   
 </div>