






<!-- <body  style=" width: 200px;">
	

      <video 

 autoplay
  muted
  loop
  playsinline
   class="background-video1">
  <source  src="assets/videos/19.mp4" type="video/mp4" />
  Your browser does not support the video tag.
</video>




</body> -->


<!-- <body>
  <div class="center">
    <div class="card">
      <div class="flippy">
        <div class="front">
          <div class="car"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1435559/car.svg" alt="car svg">
          </div>
          <div class="street">
            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
            <div class="line line-4"></div>
            <div class="line line-5"></div>
            <div class="line line-6"></div>
          </div>
        </div>
        <div class="back">
          <div class="jet">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1435559/jet.svg">
          </div>
          <div class="sky">
            <div class="line line-1"></div>
            <div class="line line-2"></div>

            <div class="line line-4"></div>

            <div class="line line-6"></div>
            <div class="missile">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1435559/missile.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body> -->

<body style="margin: 0; padding: 0; height: 70vh; display: flex; justify-content: center; align-items: center; background-color: #ffffff24;">
  <img src="assets/Hourglass.gif" alt="Loading animation" />
</body>

