


 
 <div *ngIf ="showSpiner">
  <app-spinner></app-spinner>

 </div>
 <div *ngIf ="!showSpiner" class="container-fluid" style="background-color: rgba(255, 255, 255, 0.529);">
   <div class=" py-3"  style="border-top: 1px solid rgba(0, 0, 0, 0.085);">
   <div style="text-align: right;">
    <a (click)="cancleModel()" style="color: red;">X</a><br/>
     <a   (click)="exportDataToExcel()" style="color: #007BFF;">Export to Excel</a>
      
   </div>
    
    
        
        
    

   
       
          <div class ="row" >
            <div class="col-sm-2">
             <input type="text" class="form-control"[(ngModel)]="searchCriteriaVehicle.Year" (ngModelChange)="onYearChange($event)" placeholder="Search By year">
            </div>
            <div class="col-sm-2">
             <input type="text" class="form-control"[(ngModel)]="searchCriteriaVehicle.Model" (ngModelChange)="onModelChange($event)" placeholder="Search By Model">
            </div>
            <div class="col-sm-2">
             <input type="text" class="form-control"[(ngModel)]="searchCriteriaVehicle.VIN" (ngModelChange)="onVINChange($event)" placeholder="Search By VIN">
            </div>
             <div class="col-sm-2 mt-2" style="color: rgba(0, 0, 0, 0.726)">
             Number Of Vehicle <span style="color: rgba(0, 0, 0, 0.726);"> :- {{ ListOfAllVehicle.length }}</span> 
            </div>
            <!-- <div class="col-sm-6" style="text-align: right;">
             <a href="javascript:void(0)" (click)="cancleModel()" style="color: red;"><i class="fa fa-times-circle" aria-hidden="true"></i> </a>
            
            </div> -->
       
          </div>
       
      <div  class="scrollingPolicy" >
       <table  class="table table-bordered">
         
        <thead>
          <tr>
            <!-- <th >#</th> -->
            <th >Year</th>
            <th>Make</th>
            <th>Model</th>
            <th>VIN</th>
            <th>OwnerShipType</th>
            <th>Vehicle Type</th>
            <th>BodyType</th>
            <th>Value</th>
             <th >Status</th>
            <th>EnteredBy</th>
           
          </tr>
        </thead>
        <tbody>
        
           <tr  *ngFor ="let data of ListOfAllVehicle|searchVehicle:searchCriteriaVehicle;let i = index">
            <!-- <td>{{i + 1}} {{ data.EndorsementID === 0 ? 'By Policy' : 'By Endorsement' }}</td> -->
             <td>{{data?.Year}}</td>
             <td>{{data?.Make}}</td>
             <td>{{data?.Model}}</td>
             <td>{{data?.VIN}}</td>
             <td>{{data?.OwnerShipType}}</td>
             <td>{{data?.VehicleType}}</td>
             <td>{{data?.BodyType}}</td>
             <td>{{data?.Value | currency:'USD':'symbol'}}</td>
           
             <td>{{data.Status}}</td>

             <td>
  
              <ng-container *ngIf="data?.UpdatedBy; else enteredByOnly">
                {{ data?.UpdatedBy }} (Updated by {{ data?.EnteredBy }})
              </ng-container>
              <ng-template #enteredByOnly>
                {{ data?.EnteredBy }}
              </ng-template>
             </td>
           
  
         
           </tr>
         
       
         
        </tbody>
       
      </table> 
      </div>
     
     
  <div class ="row" >
            <div class="col-sm-2">
             <input type="text" class="form-control"[(ngModel)]="searchCriteriaDrvier.DriverName" (ngModelChange)="onDriverNameChange($event)" placeholder="Search  By Name">
            </div>
            <div class="col-sm-2">
             <input type="text" class="form-control"[(ngModel)]="searchCriteriaDrvier.DriverLicenceNo" (ngModelChange)="onDriverLicenceNoChange($event)" placeholder="Search By Licence">
            </div>
            <div class="col-sm-2" style="text-align: right;">
             <input type="text" class="form-control"[(ngModel)]="searchCriteriaDrvier.StateLicenced" (ngModelChange)="onStateLicencedChange($event)" placeholder="Search By State">
            </div>
             <div class="col-sm-2 mt-2" style="color: rgba(0, 0, 0, 0.726)">
             Number Of Driver <span style="color: rgba(0, 0, 0, 0.726);">:- {{ ListOfAllDriver.length }}</span> 
            </div>
          
            <!-- <div class="col-sm-6" style="text-align: right;">
             <a href="javascript:void(0)" (click)="cancleModel()" style="color: red;"><i class="fa fa-times-circle" aria-hidden="true"></i> </a>
            
            </div> -->
      
          </div>
        
      <div  class="scrollingPolicy mt-1" > 
       <table  class="table table-bordered">
        <thead>
          <tr>
            <!-- <th>#</th> -->
           <th>Driver Name</th>
            <th>Driver Stage</th>
            <th>Date Of Birth</th>
            <th>Issued Year</th>
            <th>State </th>
            <th>Licence No</th>  
            <th>Age</th> 
            <th>Experience</th>
            <th>Status</th>
            <th>Enter By</th>
           
          </tr>
        </thead>
        <tbody>    
           <tr  *ngFor ="let data of ListOfAllDriver|searchDriver:searchCriteriaDrvier;let i = index">
             <!-- <td>{{i + 1}} -{{ data.EndorsementID === 0 ? 'By Policy' : 'By Endorsement' }}</td> -->
             <td>{{data?.DriverName}}</td>
            
             <td>{{data?.DriverStage}}</td>
             <td>{{data?.DateofBirth |date: 'MM/dd/yyyy'}}</td>
             <td>{{data?.YearofLicenceIssued |date: 'MM/dd/yyyy'}}</td>
             <td>{{data?.StateLicenced}}</td>
             <td>{{data?.DriverLicenceNo}}</td>
             <td>{{data?.Age}}</td>
             <td>{{data?.Experience}}</td>
              <td>{{data?.Status}}</td>
             
             <td>{{ data?.EnteredBy === '' || data?.EnteredBy == null ? data.UpdatedBy + ' (Updated)' : data.EnteredBy }}</td>
             <!-- <td>{{data.RenewalStatus =="Fresh" ?'NEW':'RENEW'}}</td> -->
 
            
           </tr>
         
       
         
        </tbody>
       
      </table>
      </div>
     
     


   

     </div>


    
   
 
</div>

     