<!-- <div class="main">
 <h2 class="text-center">Are you  Sure ?</h2>
  <div class="btn-group text-center  gap-2 mt-4 mb-5 ">
         
      <button mat-stroked-button  color="warn" (click)="deleteData()" >Delete</button>
      <button mat-stroked-button   mat-button mat-dialog-close>Clear</button>
     
    
    </div>

</div> -->


<div class="" >
 <div class="container">
   <h1>confirm Data</h1>
   <p>Are you sure you want to Confirm It?</p>
 

   <div class="clearfix" *ngIf="showConfirmButton">
     <button type="button" class="cancelbtn"(click)="onNoClick()">Cancel</button>
     <button type="button" class="deletebtn"  (click)="upDateData()"   >Confirm</button>
   </div>
 </div>
</div>