<div class="container">
 <form [formGroup]="deleteForm">
   <h2 class="text-center">Are you  Sure ?</h2>
   <h5 class="text-center"> Please select reason to delete It ?</h5>
   <select class="form-select formControl mt-1" formControlName="Reason"   aria-label="Default select example" style="margin-top: 28px;" >
     <option hidden value="" disabled selected  > Select Reason to Delete</option>
     <option  value="Invole in Accident">Invole in Accident</option>
     <option  value="Total Loss">Total Loss</option>
     <option  value="Lease  Terminated">Lease  Terminated</option>
     <option  value="Rental">Rental</option>
     <option  value="Sold">Sold</option>
     <option  value="PLO No Operational">PLO No Operational</option>
     <option  value="Policy Line Adjustment">Policy Line Adjustment</option>
   
     
    
   </select>
   </form>
   <!-- <div class="btn-group  gap-2 mt-4 mb-5 ">
          
       <button mat-stroked-button class="text-right" color="warn" (click)="onSubmit()" >Delete</button>
       <button mat-stroked-button class="text-right"  mat-button mat-dialog-close>Clear</button>
      
     
     </div> -->
     <div class="clearfix mt-2" *ngIf ="messageSuccess">
       <button type="button" class="cancelbtn"  mat-dialog-close>Cancel</button>
       <button type="button" class="deletebtn" (click)="onSubmit()">Delete</button>
     </div>

</div>