<div class="container-fluid registration-form-wrapper">

  <!-- Header -->
  <div class="registration-header">
    <div>
      <h4>
        <i class="fa fa-user-plus me-2"></i>
        Add Login Detail
      </h4>

      <small>
        Create a new user login account
      </small>
    </div>
  </div>


  <!-- Form Card -->
  <div class="registration-card">

    <section class="registration">

      <form [formGroup]="addEditRegistrationForm">

        <div class="row g-3">

          <!-- Team -->
          <div class="col-md-6">

            <label class="form-label">
              <i class="fa fa-users me-1"></i>
              Select Team
              <span class="required">*</span>
            </label>

            <div class="input-icon-wrapper">

              <i class="fa fa-users input-icon"></i>

              <select
                aria-label="Select Team"
                formControlName="Team"
                class="form-control custom-input"
                [ngClass]="{
                  'is-invalid': submit && f['Team'].errors
                }"
              >

                <option value="" disabled>
                  Select Team
                </option>

                <option value="Sale Team">
                  Sale Team
                </option>

                <option value="Submission Team">
                  Submission Team
                </option>

                <option value="Binding Team">
                  Binding Team
                </option>

                <option value="Loss Run">
                  Loss Run
                </option>

                <option value="Claim Team">
                  Claim Team
                </option>

                <option value="Transaction Team">
                  Transaction Team
                </option>

                <option value="Endorsement Team">
                  Endorsement Team
                </option>

                <option value="App Registration">
                  App Registration
                </option>

                <option value="Genrate Certificate Team">
                  Certificate Team
                </option>

                <option value="Renewable Team">
                  Renewable Team
                </option>

                <option value="Support Team">
                  Support Team
                </option>

                <option value="Master Login">
                  Master Login
                </option>

                <option value="Account Team">
                  Account Team
                </option>

              </select>

            </div>

            <div
              *ngIf="submit && f['Team'].errors"
              class="invalid-feedback d-block"
            >
              Select Team is required.
            </div>

          </div>


          <!-- User Name -->
          <div class="col-md-6">

            <label class="form-label">
              <i class="fa fa-user me-1"></i>
              User Name
              <span class="required">*</span>
            </label>

            <div class="input-icon-wrapper">

              <i class="fa fa-user input-icon"></i>

              <input
                type="text"
                class="form-control custom-input"
                formControlName="UserName"
                placeholder="Enter user name"
                autocomplete="off"
              />

            </div>

          </div>


          <!-- Password -->
          <div class="col-md-6">

            <label class="form-label">
              <i class="fa fa-lock me-1"></i>
              Password
              <span class="required">*</span>
            </label>

            <div class="input-icon-wrapper">

              <i class="fa fa-lock input-icon"></i>

              <input
                type="text"
                class="form-control custom-input"
                formControlName="Password"
                placeholder="Enter password"
                autocomplete="new-password"
              />

            </div>

          </div>


          <!-- Email -->
          <div class="col-md-6">

            <label class="form-label">
              <i class="fa fa-envelope me-1"></i>
              Email
            </label>

            <div class="input-icon-wrapper">

              <i class="fa fa-envelope input-icon"></i>

              <input
                type="email"
                class="form-control custom-input"
                formControlName="EmailID"
                placeholder="Enter email address"
                autocomplete="off"
              />

            </div>

          </div>

        </div>


        <!-- Buttons -->
        <div
          *ngIf="messageSuccess"
          class="form-actions"
        >

          <button
            type="button"
            class="btn btn-save"
            (click)="onSubmit()"
          >
            <i class="fa fa-save me-1"></i>
            Save
          </button>


          <button
            type="button"
            class="btn btn-cancel"
            mat-dialog-close
          >
            <i class="fa fa-times me-1"></i>
            Cancel
          </button>

        </div>

      </form>

    </section>

  </div>

</div>