
<div class="container">
 <div *ngIf ="!showFiv">
     <h5>File Size is  Big sow it will take some time to Upload</h5>
     <app-spinner></app-spinner>
   </div>
   <h4 class="mt-3"   style="text-align: center;"> Account Name  : {{accountName}}</h4>
   
   
    <div class="container-fluid " *ngIf ="showFiv" >
    
 
       
         <form [formGroup] ="addEditAttachmentForm"> 
             <div class="row ">
            
                 
                 <div class="col-sm-12 mt-3">
                     <label>ATTACH FILE HERE</label>
                     <div class=" file-container center  text-center" >
                         
                         <label>ATTACH  HERE</label>
                         <input
                         type="file"
                         class="file"
                         placeholder="File Name"
                         multiple
                         accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf,.wav"
                         
                         (change)= "onFileUpload($event)"  [ngClass]= "{ 'is-invalid': submit && f['abc'].errors }" />
                         <div *ngIf ="submit && f['abc'].errors" class="invalid-feedback">
                             <div *ngIf ="f['abc'].errors">FIle is required</div>
                         </div>
                         <label>ATTACH ANY HERE</label>
                     </div>
                 </div>
                  
                    
             <!-- <div *ngIf ="files">
                 {{files.name}}
              
             </div> -->
             <div class="mt-1"> 
                 <label>Description</label>
                 <input type="text" class="form-control" formControlName="Description" value="files.name" readonly>
                 <!-- <select class="form-select form-select-sm" formControlName="Description" aria-label=".form-select-sm example"[ngClass]= "{ 'is-invalid': submit && f['Description'].errors }">
                   
                    <option hidden value="" disabled selected  >Select Description Type</option>
                    <option value="Agency communication">Agency communication</option>
                    <option  value="Application">Application</option>
                    <option value="Company Reports">Company Reports</option>
                    <option value="Drivers">Drivers</option>
                    <option value="MVRs">MVRs</option>
                    <option value="Safety Reports">Safety reports</option>
                    <option value="Financials heading">Financials</option>

                    
                    
                    <option value="Vehicles">Vehicles</option>
                    <option value="IFTA">IFTA</option>
                    <option value="Loss Runs">Loss Runs</option>
                    <option value="Endorsement ">Endorsement </option>
                    <option value="Submissions">Submissions</option>
                    <option value="Quote">Quote</option>
                    <option value="Cab Card">Cab Card</option>

                  </select> -->
                
                 <div *ngIf ="submit && f['Description'].errors" class="invalid-feedback">
                     <div *ngIf ="f['Description'].errors">Description is required</div>
                 </div>
             </div>
             <div class="mt-1"> 
                <label>Attach By</label>
                <select class="form-select form-select-sm" formControlName="AttachedBy" aria-label=".form-select-sm example">
                    <option hidden value="" disabled selected  > ⬇️</option>
                  
                    <option value="By Mail Details">By Mail Details</option>
                    <option  value="Offical">Offical</option>
                    
                    
                  </select>
            </div>
                     
               
             </div>
         
            
         </form>
      
    
        <div class="text-right mt-4">
         <div >
             <a href="javascript:void(0)" (click)="onSubmit();" class="d-none d-sm-inline-block btn btn-sm   me-2" style="background-color: #1397d5;color: white;"><i class="fas fa-check fa-sm text-white-50"></i> Upload File</a>
    <a href="javascript:void(0)"  class="d-none d-sm-inline-block btn btn-sm btn-danger"  mat-dialog-close><i class="fas fa-times fa-sm text-white-50"></i> Cancel</a>
   
           
            
           
           </div>
       </div>
     
         <!-- <div class="text-center mt-5 mb-5">
             <div class="btn-group  gap-2  " >
                
                 <button mat-stroked-button class="text-right" (click)="onSubmit()">Save</button>
                 <button mat-stroked-button class="text-right" color="warn" mat-button mat-dialog-close>Clear</button>
                
               
               </div>
         </div> -->
     
     </div>
   

</div>
